<div class="row">

	<div class="col-xs-12 col-lg-4">
		<%= translator.cupLabel %>
	</div>

	<div class="col-xs-12 col-lg-8">

		<div class="row">
			<div class="col-xs-12">

				<select id="selectedCupId" class="form-control">
					<option value="0"></option>
					<% _.each( cupsForGameImport, function( cupForGameImport ) { %>
						<option value="<%= cupForGameImport.cup.cupId%>" <%= cupForGameImport.cup.cupId == cupId ? 'selected' : '' %> ><%= cupForGameImport.cup.category.categoryName%> - <%=cupForGameImport.cup.cupName%></option>
					<% }) %>
				</select>

			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<% _.each( sportKinds, function( sportKind ) { %>
					<input type="radio" name="sportKindId" id="sportKindId-<%=sportKind.sportKindId%>" value="<%=sportKind.sportKindId%>" <%=sportKind.sportKindId == selectedSportKindId ? 'checked' : '' %> >
					<label for="sportKindId-<%=sportKind.sportKindId%>"><%=sportKind.sportKindName%></label>
					<br />
				<% } ) %>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12 text-muted">
				<input type="checkbox" id="js-show-active-cups-only" class="js-show-active-cups-only" <%=showActiveCupsOnlyClick ? "checked='checked'" : ''%> > <label for="js-show-active-cups-only"><%=translator.showActiveCupsOnly%></label>
			</div>
		</div>

	</div>
</div>

<div class="row">
	<div class="col-xs-12 js-date-range-picker">

	</div>
</div>
