<div class="row" style="height: 90px;">

	<div class="col-xs-3 text-center">
		<img src="<%=cup.logoUrl%>" title="<%=cup.cupName%>" width="64">
	</div>

	<div class="col-xs-9">

		<div class="row">

			<div class="col-xs-9 text-right">
				<small><%=translator.matchesCount%></small>
			</div>

			<div class="col-xs-3">
				<%=matchesCount%>
			</div>

		</div>

		<div class="row">

			<div class="col-xs-9 text-right">
				<small><%=translator.todayMatchesCountLabel%></small>
			</div>

			<div class="col-xs-3">
				<strong>

					<% if( nowPlayingMatchesCount > 0 ) { %>
						<span class="text-success" title="<%=translator.nowPlayingMatchesCountLabel%>"><%=nowPlayingMatchesCount%></span> /
					<% } %>

					<%=todayMatchesCount%>
				</strong>
			</div>

		</div>

		<div class="row">

			<div class="col-xs-9 text-right">
				<small><%=translator.userBetsCount%> ( <a href="/totalizator/users/<%=user.userId%>/"><%=user.userName%></a> )</small>
			</div>

			<div class="col-xs-3">
				<%=userBetsCount%>
			</div>

		</div>

		<div class="row">

			<div class="col-xs-9 text-right">
				<small><%=translator.matchesWithoutBetsCount%></small>
			</div>

			<div class="col-xs-3 <%=matchesWithoutBetsCountStyle%>">
				<%=matchesWithoutBetsCount%>
			</div>

		</div>

	</div>

</div>
<hr />
<div class="row" style="height: 35px;">

	<div class="col-xs-12" style="font-size: 12px;">

		<% if( firstMatchTime != 'Invalid date' ) {%>
			<div class="row">

				<div class="col-xs-5 text-right text-muted">
					<small><%=translator.firstMatchTimeLabel%></small>
				</div>

				<div class="col-xs-7">
					<small><%=firstMatchTime%> ( <%=firstMatchTimeHumanize%> )</small>
				</div>

			</div>
		<% }%>


		<% if( firstMatchNoBetTime != 'Invalid date' ) {%>
			<div class="row">

				<div class="col-xs-5 text-right text-muted">
					<small><%=translator.firstMatchNoBetTimeLabel%></small>
				</div>

				<div class="col-xs-7">
					<small><%=firstMatchNoBetTime%> ( <span class="text-danger"><%=firstMatchNoBetTimeHumanize%></span> )</small>
				</div>

			</div>
		<% }%>

		<% if( firstMatchTime == 'Invalid date' ) {%>
			<span class="text-muted"><%=translator.noMatchesFoundLabel%></span>
		<% }%>

	</div>

</div>
