<div class="row">
	<div class="col-xs-12" style="min-height: 160px;">

		<h6 class="bottom-dotted">
			<%= translator.teamPlayedMatches %>:
			<strong>
				<a href="/betmen/cups/<%=cup.cupId%>/matches/teams/<%=team.teamId%>/">
					<span class="clearfix pull-right"><%= finishedMatchCount %></span>
				</a>
			</strong>
			<br />
		</h6>

		<h6 class="bottom-dotted">
			<%= translator.teamWonMatches %>: <strong><span class="clearfix pull-right"><%= wonMatchCount %></span></strong>
		</h6>

		<% if( cupWinner ){ %>
			<h2 class="text-success">
				<span class="fa fa-trophy fa-2x"></span>
				<%=cupWinner.cupPosition %> <%= translator.cupPosition %>
			</h2>
		<% } %>

		<h6 class="bottom-dotted">
			<%= translator.teamFutureMatches %>:
			<strong>
				<span class="clearfix pull-right"><%= futureMatchesCount %></span>
			</strong>
			<br />
		</h6>

	</div>
</div>


