<% var matchResults = transformer.getMatchResults() %>
<% var betScoreHighlights = transformer.getBetScoreHighlights() %>
<div class="bottom-dotted">
	<table class="<%= colorCss %>" style="font-size: 10px; width: 100%;">

		<tr>

			<td class="js-window-drop-down-menu" width="50" style="padding-left: 5px; padding-top: 5px;"></td>

			<td class="text-center" width="50">
				<img src="<%= transformer.team1().teamLogo %>" height="24">
			</td>

			<td>
				<a class="<%= matchResults.style1 %>" href="/totalizator/teams/<%- transformer.team1().teamId %>/"><%= transformer.team1().teamName %></a>
			</td>

			<td width="30" class="text-right" style="font-size: 12px;">
				<% if( match.matchFinished ) { %>
					<span class="<%= matchResults.style1 %>" title="<%-translator.teamPointsLabel%>"><%= transformer.score1() %></span>
				<% } %>

				<% if( ! match.matchFinished ) { %>
					<span class="text-muted"><strong>?</strong></span>
				<% } %>
			</td>

			<td width="30" style="font-size: 12px; padding-left: 5px;">
				<sup class="<%=betScoreHighlights.style1%>" title="<%=betScoreHighlights.title%>"><%= bet != null ? transformer.betScore1() : '-' %></sup>
			</td>

		</tr>

		<tr>

			<td></td>

			<td class="text-center">
				<img src="<%= transformer.team2().teamLogo %>" height="24">
			</td>

			<td>
				<a class="<%= matchResults.style2 %>" href="/totalizator/teams/<%- transformer.team2().teamId %>/"><%= transformer.team2().teamName %></a>
			</td>

			<td class="text-right" style="font-size: 12px;">

				<% if( match.matchFinished ) { %>
					<span class="<%= matchResults.style2 %>" title="<%-translator.teamPointsLabel%>"><%= transformer.score2() %></span>
				<% } %>

				<% if( ! match.matchFinished ) { %>
					<span class="text-muted"><strong>?</strong></span>
				<% } %>

			</td>

			<td style="font-size: 12px; padding-left: 5px;">
				<sup class="<%=betScoreHighlights.style2%>" title="<%=betScoreHighlights.title%>"><%= bet != null ? transformer.betScore2() : '-' %></sup>
			</td>

		</tr>

		<tr>
			<td colspan="3" class="text-muted" style="padding-left: 5px;">
				<%=beginningDate%> <sup><%=beginningTime%></sup> ( <%=timeToMatchBeginningTime%> )
			</td>

			<td colspan="2" class="text-center" style="font-size: 12px;" title="<%= translator.pointsLabel %>">

				<% if( userMatchPointsHolder && userMatchPointsHolder.summaryPoints != 0 ) { %>
					<strong><%-userMatchPointsHolder.summaryPoints%>
						<sup><%= userMatchPointsHolder.matchBonus != 0 ? userMatchPointsHolder.matchBetPoints + '+' + userMatchPointsHolder.matchBonus : ''%></sup>
					</strong>
				<% } %>

			</td>

		</tr>

	</table>
</div>