<% var matchResults = transformer.getMatchResults() %>
<% var betScoreHighlights = transformer.getBetScoreHighlights() %>
<div class="panel panel-default">

	<div class="panel-body <%= colorCss %> nopadding">

			<div class="col-xs-4 padding-top-bottom" style="font-size: 11px;">

				<div class="row">
					<div class="col-xs-12">
						<div class="col-xs-3 js-window-drop-down-menu"></div>
					</div>
				</div>

				<div class="row padding-top-bottom">
					<div class="col-xs-12" title="<%=beginningDate%> <%=beginningTime%>">
						<%=beginningTime%> ( <%=timeToMatchBeginningTime%> )
						<br />
						<% if( userMatchPointsHolder.summaryPoints != 0 ) { %>
							<strong><%-userMatchPointsHolder.summaryPoints%>
								<sup><%= userMatchPointsHolder.matchBonus != 0 ? userMatchPointsHolder.matchBetPoints + '+' + userMatchPointsHolder.matchBonus : ''%></sup>
							</strong>
						<% } %>
					</div>
				</div>

			</div>

			<div class="col-xs-8 padding-top-bottom">

				<div class="row bottom-dotted">

					<div class="col-xs-1 text-center nopadding">
						<img src="<%= transformer.team1().teamLogo %>" height="16">
					</div>

					<div class="col-xs-7" style="font-size: 12px;">
						<strong><a href="/totalizator/teams/<%- transformer.team1().teamId %>/"><%= transformer.team1().teamName %></a></strong>
					</div>

					<div class="col-xs-4" style="font-size: 12px;">
						<% if( match.matchFinished ) { %>
							<span class="<%= matchResults.style1 %>" title="<%-translator.teamPointsLabel%>"><%= transformer.score1() %></span>
						<% } %>

						<% if( ! match.matchFinished ) { %>
							<span class="text-muted"><strong>?</strong></span>
						<% } %>

						<sup class="<%=betScoreHighlights.style1%>" style="font-size: 10px;" title="<%=betScoreHighlights.title%>"><%= bet != null ? transformer.betScore1() : '-' %></sup>

					</div>

				</div>

				<div class="row padding-top-bottom">

					<div class="col-xs-1 text-center nopadding">
						<img src="<%= transformer.team2().teamLogo %>" height="16">
					</div>

					<div class="col-xs-7" style="font-size: 12px;">
						<strong><a href="/totalizator/teams/<%- transformer.team2().teamId %>/"><%= transformer.team2().teamName %></a></strong>
					</div>

					<div class="col-xs-4" style="font-size: 12px;">

						<% if( match.matchFinished ) { %>
							<span class="<%= matchResults.style2 %>" title="<%-translator.teamPointsLabel%>"><%= transformer.score2() %></span>
						<% } %>

						<% if( ! match.matchFinished ) { %>
							<span class="text-muted"><strong>?</strong></span>
						<% } %>

						<sup class="<%=betScoreHighlights.style2%>" style="font-size: 10px;" title="<%=betScoreHighlights.title%>"><%= bet != null ? transformer.betScore2() : '-' %></sup>
					</div>

				</div>

			</div>

	</div>
</div>