<% var matchResults = transformer.getMatchResults() %>
<% var betScoreHighlights = transformer.getBetScoreHighlights() %>
<div class="bottom-dotted">
	<table class="<%= colorCss %>" style="font-size: 10px; width: 100%;">

		<tr>

			<td class="js-window-drop-down-menu" width="90"></td>

			<td class="text-center" width="50">
				<img src="<%= transformer.team1().teamLogo %>" height="24">
			</td>

			<td>
				<strong><a href="/totalizator/teams/<%- transformer.team1().teamId %>/"><%= transformer.team1().teamName %></a></strong>
			</td>

			<td width="30">
				<% if( match.matchFinished ) { %>
					<span class="<%= matchResults.style1 %>" title="<%-translator.teamPointsLabel%>"><%= transformer.score1() %></span>
				<% } %>

				<% if( ! match.matchFinished ) { %>
					<span class="text-muted"><strong>?</strong></span>
				<% } %>

				<sup class="<%=betScoreHighlights.style1%>" title="<%=betScoreHighlights.title%>"><%= bet != null ? transformer.betScore1() : '-' %></sup>

			</td>

			<td width="20"></td>

		</tr>

		<tr>

			<td title="<%=beginningDate%> <%=beginningTime%>, <%=timeToMatchBeginningTime%>">
				&nbsp;<%=beginningTime%>, <%=timeToMatchBeginningTime%>
			</td>

			<td class="text-center">
				<img src="<%= transformer.team2().teamLogo %>" height="24">
			</td>

			<td>
				<strong><a href="/totalizator/teams/<%- transformer.team2().teamId %>/"><%= transformer.team2().teamName %></a></strong>
			</td>

			<td>

				<% if( match.matchFinished ) { %>
					<span class="<%= matchResults.style2 %>" title="<%-translator.teamPointsLabel%>"><%= transformer.score2() %></span>
				<% } %>

				<% if( ! match.matchFinished ) { %>
					<span class="text-muted"><strong>?</strong></span>
				<% } %>

				<sup class="<%=betScoreHighlights.style2%>" title="<%=betScoreHighlights.title%>"><%= bet != null ? transformer.betScore2() : '-' %></sup>
			</td>

			<td>
				<% if( userMatchPointsHolder.summaryPoints != 0 ) { %>
					<strong><%-userMatchPointsHolder.summaryPoints%>
						<sup><%= userMatchPointsHolder.matchBonus != 0 ? userMatchPointsHolder.matchBetPoints + '+' + userMatchPointsHolder.matchBonus : ''%></sup>
					</strong>
				<% } %>
			</td>

		</tr>

	</table>
</div>