div {
	/*border: 1px dotted red;*/
}

.admin-entry-line {
	height: auto;
	min-height: 30px;
	padding: 5px;
}

.admin-form-text {
	font-size: 12px;
	padding-right: 10px;
}

.admin-icon {
	float: left;
	width: 20px;
	padding-right: 2px;
}

.admin-logo-icon {
	float: left;
	width: 35px;
	padding-right: 2px;
	text-align: center;
}
