div {
	/*border: 1px dotted red;*/
}

.admin-entry-line {
	height: 41px;
	padding-top: 3px;
}

.admin-entry-icon-cell {
	float: left;
	padding-top: 5px;
	padding-left: 5px;
	width: 20px;
}

.admin-entry-icons {
	float: left;
	width: 50px;
	margin-left: 15px;
}