.div {
	/*border: 1px dotted red;*/
}

.button-icon {
	width: 30px;
}

/*button {
	width: 40px;
}*/

.debug {
	border: 1px dotted red;
}

.match-team-name {
	font-weight: bold;
}

.match-score {
	font-size: 20px;
	font-weight: bold;
}

.match-bet-score {
	/*font-size: 16px;*/
	font-weight: bold;
}

.current-user {
	font-weight: bold;
}

.team-logo {
	/*border: 1px solid silver;*/
	height: 64px;
}

.team-out-of-cup {
	opacity: 0.3;
}

.nopadding {
	padding: 0 !important;
	margin: 0 !important;
}

.bottom-dotted {
	 border-bottom: 1px dotted gray;
}

.activity-stream {
	font-size: 11px;
	line-height: 25px;
}

.padding-top-bottom {
	padding-top: 5px;
	padding-bottom: 5px;
}