.div {
	/*border: 1px dotted red;*/
}

.button-icon {
	width: 30px;
}

.header-icon {
	float: left;
	padding-top: 5px;
	padding-left: 5px;
	width: 20px;
}

.debug {
	border: 1px dotted red;
}

.match-team-name {
	font-weight: bold;
}

.match-score {
	font-size: 20px;
	font-weight: bold;
}
