.div {
	/*border: 1px dotted red;*/
}

.button-icon {
	width: 30px;
}

/*button {
	width: 40px;
}*/

.debug {
	border: 1px dotted red;
}

.match-team-name {
	font-weight: bold;
}

.match-score {
	font-size: 20px;
	font-weight: bold;
}

.match-bet-score {
	font-size: 16px;
	font-weight: bold;
}
