<div class="page-header" style="padding-left: 15px; margin: 0;">

	<div class="row">

		<div class="col-lg-2">
			<a href="/totalizator/" title="<%=translator.projectNameLabel%>"><img src="/resources/public/img/logo.png"></a>
		</div>

		<div class="col-lg-9">
			<div class="row">
				<div class="col-lg-1 main-menu-container" style="margin-top: 22px;"></div>
				<div class="col-lg-11"><h2><%=subtitle%></h2></div>
			</div>

			<div class="row">
				<ul class="breadcrumb">
					<li><a href="/totalizator/"><%=translator.projectNameLabel%></a></li>
					<li class="active"><%=subtitle%></li>
				</ul>
			</div>
		</div>

	</div>

</div>
