<div class="row">

	<div class="col-lg-12">

		<!--<div class="col-lg-3">

			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title text-center">Scores</h3>
				</div>
				<div class="panel-body text-left">
					<div class="col-lg-12">
						The best results are going to be here
					</div>
				</div>
				<div class="panel-footer"></div>
			</div>

		</div>-->

		<div class="col-lg-5 portal-page-matches-container"></div>

		<!--<div class="col-lg-3">

			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title text-center">Your bets result</h3>
				</div>
				<div class="panel-body text-left">
					<div class="col-lg-12">
						Your wins are going to be here
					</div>
				</div>
				<div class="panel-footer"></div>
			</div>

		</div>-->

		<!--<div class="col-lg-3">

			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title text-center">Your open bets</h3>
				</div>
				<div class="panel-body text-left">
					<div class="col-lg-12">
						Your future bets are going to be here
					</div>
				</div>
				<div class="panel-footer"></div>
			</div>

		</div>-->

	</div>

</div>


