<div class="page-header" style="padding-left: 15px;">

	<div class="row">

		<div class="col-lg-2">
			<img src="/resources/public/img/logo.png">
		</div>

		<div class="col-lg-10">
			<h1>Totalizator</h1>
			<small><%-userName%></small>

			<div class="col-lg-1 text-right fa fa-sign-out logout-link" style="float: right"><a href="#"> Logout</a></div>
			<div class="col-lg-2 text-right fa fa-cog admin-link" style="float: right"><a href="/admin/"> Admin</a></div>

		</div>

	</div>

</div>

<div class="row">
	<div class="col-lg-12">
		<div class="col-lg-4">

			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title text-center">Scores</h3>
				</div>
				<div class="panel-body text-left">
					<div class="col-lg-12">
						The best results are going to be here
					</div>
				</div>
				<div class="panel-footer"></div>
			</div>

		</div>

		<div class="col-lg-4">

			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title text-center">Yours wins</h3>
				</div>
				<div class="panel-body text-left">
					<div class="col-lg-12">
						Your wins are going to be here
					</div>
				</div>
				<div class="panel-footer"></div>
			</div>

		</div>

		<div class="col-lg-4">

			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title text-center">Your future bets</h3>
				</div>
				<div class="panel-body text-left">
					<div class="col-lg-12">
						Your future bets are going to be here
					</div>
				</div>
				<div class="panel-footer"></div>
			</div>

		</div>
	</div>
</div>


