<table class="table table-striped table-hover">

	<thead>
		<td><%=translator.userColumn%></td>
		<td class="text-center"><%=translator.matchBetsPointsColumn%></td>
		<td class="text-center"><%=translator.matchBonusColumn%></td>
		<td class="text-center"><%=translator.winnersBonusColumn%></td>
		<td class="text-center"><%=translator.summaryPointColumn%></td>
	</thead>

	<tbody>

		<% _.each( userRatingPositions, function( userRatingPosition ) { %>
			<tr <%=currentUser.userId == userRatingPosition.user.userId ? "class='current-user'" : '' %> >

				<td>
					<a href="/totalizator/users/<%=userRatingPosition.user.userId%>/?cupId=<%=cup.cupId%>"><%-userRatingPosition.user.userName%></a>
				</td>

				<td class="text-center">
					<small>
						<%= userRatingPosition.userCupPointsHolder.matchBetPoints %>
						<% if( userRatingPosition.userCupPointsHolder.matchBetPointsNegative != 0 && userRatingPosition.userCupPointsHolder.matchBetPointsPositive != 0 ){ %>
							<sup><%= userRatingPosition.userCupPointsHolder.matchBetPointsNegative %> / +<%= userRatingPosition.userCupPointsHolder.matchBetPointsPositive %></sup>
						<% } %>
					</small>
				</td>

				<td class="text-center"><small><%= userRatingPosition.userCupPointsHolder.matchBonuses != 0 ? userRatingPosition.userCupPointsHolder.matchBonuses : ''%></small></td>
				<td class="text-center"><small><%= userRatingPosition.userCupPointsHolder.cupWinnerBonus != 0 ? userRatingPosition.userCupPointsHolder.cupWinnerBonus : ''%></small></td>

				<td class="text-center <%= userRatingPosition.userCupPointsHolder.summaryPoints < 0 ? 'text-danger' : 'text-success'%> "><%-userRatingPosition.userCupPointsHolder.summaryPoints%></td>
			</tr>
		<% })%>

	</tbody>

</table>