
<div class="btn-group pull-right clearfix">
	<button type="button" class="btn btn-primary fa fa-save js-save-user-group-button"></button>
	<button type="button" class="btn btn-default fa fa-close js-close-user-group-button"></button>
</div>

<div class="form-group">

	<label><%-translator.groupName%></label>
	<input type="text" name="userGroupName" class="form-control js-user-group-name" value="<%=userGroupName%>">

	<div class="row">
		<div class="col-12">

			<% _.each( categoriesAndCups, function( entry ) { %>

				<hr />

				<div class="row">
					<div class="col-12">
						<img src="<%-entry.category.logoUrl%>" height="16">
						<strong><%-entry.category.categoryName%></strong>
					</div>
				</div>

				<% _.each( entry.cups, function( cup ) { %>
					<div class="row">
						<div class="col-12" style="padding-left: 50px;">
							<input type="checkbox" name="cupIds" value="<%-cup.cupId%>" <%= selectedCupIds[ cup.cupId ] ? 'checked' : '' %> > <%-cup.cupName%>
						</div>
					</div>
				<% }) %>

			<% }) %>

		</div>
	</div>

</div>

