<table class="table table-striped table-hover">

	<thead>
		<tr>
			<td>
				<a href="#" onclick="return false;" data-letter="" class="js-cup-team-letter"><%-translator.allTeamsLabel%></a>
				<% _.each( letters, function( letters ) { %>
					<a href="#" onclick="return false;" data-letter="<%-letters%>" class="js-cup-team-letter"><%-letters%></a>
				<% } ) %>
			</td>
		</tr>
	</thead>

	<tbody>

		<% _.each( teams, function( team ) { %>
			<tr>
				<td>
					<img src="<%-team.teamLogo%>" height="32" >
					<a href="/totalizator/teams/<%=team.teamId%>/"><%-team.teamName%></a>
				</td>
			</tr>
		<% })%>

	</tbody>

</table>