<style>
    .fretNote {
        width: 55px;
        font-size: 10px;
        text-align: center;
    }

    .bordered {
        border: solid 1px black;
    }

    .border12 {
        border-left: solid 3px navy;
    }

    .stringLine {
        height: 40px;
    }

    .border-radius {
        border-radius: 25px;
    }

    .highlighted-note {
        font-size: 14px;
        font-family: Georgia;
        font-weight: bold;
        border-radius: 15px;
        border: 1px solid gray;
        padding: 9px !important;
        margin: 2px !important;
    }

    .full-tone {
        background-color: #f1f1f1;
    }

    .half-tone {
        font-size: 12px;
    }

    .tonic-note {
        color: #FFFFFF;
        background-color: #ce8483;
        border: 2px solid #0b3e6f;
    }

    .minor-gamma-note {
        background-color: #9acfea;
    }

    .minor-blues-gamma-note {
        background-color: #86bfa0;
    }

    .major-blues-gamma-note {
        background-color: #46b8da;
    }

    .japanese-gamma-note {
        background-color: #efec9f;
    }

    .arabian-gamma-note {
        background-color: #baaa5a;
    }

    .gypsy-gamma-note {
        background-color: #b2dba1;
    }

    .judas-gamma-note {
        background-color: #fddfdf;
    }

    .east-gamma-note {
        background-color: #cb842e;
    }

    .selected-note {
        background-color: #ccd232;
        border: 2px solid #0b3e6f;
        padding: 9px !important;
        margin: 2px !important;
        border-radius: 5px;
    }
</style>

<!-- notes -->
<div class="row">
    <div class="col-xs-12">
        <div class="row">
        <% for(var note = 0; note < notes.length; note++) { %>
            <div class="col-xs-1 text-center well well-sm">
                <h4 class="<%= notes[note].full ? 'text-info strong' : 'text-muted' %>">
                    <input type="radio" name="notes" id="<%= notes[note].note %>" value="<%= notes[note].note %>" <%= tonic == notes[note].note ? "checked='checked'" : '' %> >
                    <label for="<%= notes[note].note %>"></label> <%= notes[note].note %>
                </h4>
            </div>
        <% } %>
        </div>
    </div>
</div>
<!-- / notes -->

<!-- frets -->
<% var string = 1; %>
<% _.each(neckModel, function(stringModel){ %>
    <div class="row">
        <div class="col-xs-1 fretNote nopadding text-muted">
            <h4><%=string%></h4>
        </div>
        <% var fret = 0; %>
        <% _.each(stringModel, function(note) { %>
            <div class="col-xs-1 fretNote stringLine nopadding bordered <%= (fret == 1 || fret == 12 || fret == 24) ? 'border12' : '' %>">
                <h4 class="js-fret-note <%= note.noteStyle %>" title="<%=note.translation%> <%=note.customTitle%>"  data-fret-note="<%= note.note %>">
                    <span class="text-muted <%= note.customIcon %>"></span>
                    <%= note.note %>
                </h4>
            </div>
            <% fret++; %>
        <% }) %>
    </div>
    <% string++ %>
<% }) %>
<!-- / frets -->

<!-- fret number -->
<div class="row">
    <div class="col-xs-1 fretNote nopadding text-muted"></div>
    <% for(var fret = 0; fret <= fretsCount; fret++) { %>
        <div class="col-xs-1 fretNote nopadding">
            <%= fret %>
        </div>
    <% } %>
</div>
<!-- / fret number -->

<!-- frets markers -->
<div class="row">
    <% for(var fret = -1; fret <= fretsCount + 1; fret++) { %>
        <div class="col-xs-1 fretNote nopadding text-muted" title="<%= translator.neckPointersLabel %>">
            <% var needMarkFret = _.contains(markedFrets, fret); %>
            <h4 class="<%= needMarkFret ? 'border-radius bg-success' : ''%>" ><%= needMarkFret ? fret : '' %></h4>
        </div>
    <% } %>
</div>
<!-- / frets markers -->

<hr />

<!-- sequence -->
<% for(var k = 0; k < gammasCount; k++) { %>
    <div class="row">
        <div class="col-xs-1 small">
            <% if(k == 0) { %>
                <%= translator.baseGamma %>
            <% } else {%>
            <%= translator.additionalGamma %>
            <% }%>
        </div>
        <div class="col-xs-11 js-sequence-select-control-<%= k %>"></div>
    </div>
<% }%>

<!-- / sequence -->

<hr />

<div class="row">
    <div class="col-xs-12">
        <h5 class="text-muted">* <%= translator.clickNoteHint %></h5>
    </div>
</div>