<style>
    .zero-fret-note {
        width: 75px;
        font-size: 10px;
        text-align: center;
        height: 40px;
        padding-top: 7px;
    }

    .fret-note {
        width: 55px;
        font-size: 10px;
        text-align: center;
    }

    .guitar-fret {
        border-right: solid 1px gray;
    }

    .string-tune {
        border-right: 1px solid gray;
    }

    .string-line {
        height: 40px;
    }

    .guitar-string {
        background: rgb(245,246,246);
        background: -moz-linear-gradient(top,  rgba(245,246,246,1) 25%, rgba(219,220,226,1) 36%, rgba(170,174,183,1) 42%, rgba(199,210,214,1) 49%, rgba(182,183,196,1) 56%, rgba(221,223,227,1) 63%, rgba(245,246,246,1) 73%);
        background: -webkit-linear-gradient(top,  rgba(245,246,246,1) 25%,rgba(219,220,226,1) 36%,rgba(170,174,183,1) 42%,rgba(199,210,214,1) 49%,rgba(182,183,196,1) 56%,rgba(221,223,227,1) 63%,rgba(245,246,246,1) 73%);
        background: linear-gradient(to bottom,  rgba(245,246,246,1) 25%,rgba(219,220,226,1) 36%,rgba(170,174,183,1) 42%,rgba(199,210,214,1) 49%,rgba(182,183,196,1) 56%,rgba(221,223,227,1) 63%,rgba(245,246,246,1) 73%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f6f6', endColorstr='#f5f6f6',GradientType=0 );
    }

    .fret-markers {
        width: 75px;
        font-size: 10px;
        text-align: center;
        height: 10px;
        padding-top: 7px;
    }

    .marked-fret {
        border-radius: 25px;
        width: 100%;
    }

    /* notes styles */

    .note-box {
        font-size: 14px;
        font-weight: bold;
        border-radius: 5px;
        border: 1px solid gray;
        padding-top: 13px;
    }

    .highlighted-note {
        font-size: 14px;
        font-family: Georgia;
        font-weight: bold;
        border-radius: 15px;
        border: 1px solid gray;
        padding: 9px !important;
        width: 100%;
    }

    .full-tone-note {
    }

    .half-tone-note {
        padding-top: 10px;
        font-size: 14px;
    }

    .fret-highlighted {
        border-left: solid 3px navy;
    }

    /* /notes styles */

    .minor-gamma-note {
        background-color: #9acfea;
    }

    .natural-major-gamma-note {
        background-color: #00ffcc;
    }

    .minor-blues-gamma-note {
        background-color: #86bfa0;
    }

    .major-blues-gamma-note {
        background-color: #46b8da;
    }

    .harmonic-minor-gamma-note {
        background-color: #acdd4a;
    }

    .harmonic-major-gamma-note {
        background-color: #b2dba1;
    }

    .japanese-hirajoshi-gamma-note {
        background-color: #efec9f;
    }

    .japanese-hon-kumoi-gamma-note {
        background-color: #e6b900;
    }

    .japanese-iwato-gamma-note {
        background-color: #e4b9b9;
    }

    .japanese-kumoi-gamma-note {
        background-color: #baaa5a;
    }

    .arabian-gamma-note {
        background-color: #baaa5a;
    }

    .gypsy-gamma-note {
        background-color: #d49768;
    }

    .judas-gamma-note {
        background-color: gold; /* cannot be another color */
    }

    .east-gamma-note {
        background-color: #cb842e;
    }

    .persian-gamma-note {
        background-color: #4cd964;
    }

    .byzantium-gamma-note {
        background-color: #00f0ff;
    }

    /* gammas styles <-- */

    .multiple-gammas-note {
        box-shadow: 2px 2px 4px #000000;
        border: 2px solid black;
        background: linear-gradient(silver, white, gray);
    }

    .selected-note {
        border: 2px solid #0b3e6f;
        padding: 8px !important;
        border-radius: 5px;
        color: navy;
        background: linear-gradient(to bottom, #fab396, tomato);
    }

    .guitar-fret{
        display:inline-block;
    }

    /* custom note properties */

    .tonic-note {
        padding: 7px !important;
        border: 3px solid #ac2925;
        color: white;
        text-shadow: -4px -0px 10px black, 4px 0 10px black, 0 -4px 10px black, 0 4px 10px black;
    }

    .band-note {
        position: relative;
    }

    .band-note:after {
        position: absolute;
        font-family: FontAwesome;
        z-index: 10;
        top: -29px;
        right: 15px;
        height: 12px;
        font-size: 16px;
        color: cornsilk;
        content: "\f112";
        text-shadow: -1px 0 1px navy, 1px 0 1px navy, 0 -1px 1px navy, 0 1px 1px navy;
    }

    .half-band-note {
        position: relative;
    }

    .half-band-note:after {
        position: absolute;
        font-family: FontAwesome;
        z-index: 10;
        top: -5px;
        right: 10px;
        height: 12px;
        font-size: 13px;
        color: white;
        content: "\f176"; /*f148 f062 f176*/
        text-shadow: -1px 0 1px #6d686d, 1px 0 1px #6d686d, 0 -1px 1px #6d686d, 0 1px 1px #6d686d;
    }

    .specific-note {
        position: relative;
    }

    .specific-note:after {
        position: absolute;
        top: 0;
        left: 9px;
        height: 10px;
        color: white;
        font-size: 10px;
        font-family: FontAwesome;
        z-index: 10;
    }

    .blues-note:after {
        content: "\f0f3";
    }

    .harmonic-note:after {
        content: "\f099";
    }

    .melodic-note:after {
        content: "\f001";
    }

</style>

<!-- tonic -->
<div class="row mb-10">
    <div class="col-12">
        <div class="row">
        <% for(var note = 0; note < notes.length; note++) { %>
            <div class="col-1 note-box text-center js-tonics <%= tonic == notes[note].note ? 'badge badge-info' : notes[note].full ? 'text-info strong' : 'text-muted' %>"
                    data-js_tonic='<%= notes[note].note %>'>
                <input type="radio" name="notes" id="<%= notes[note].note %>" value="<%= notes[note].note %>" <%= tonic == notes[note].note ? "checked='checked'" : '' %> >
                <label for="<%= notes[note].note %>" data-js_tonic='<%= notes[note].note %>'><%= notes[note].note %></label>
            </div>
        <% } %>
        </div>
    </div>
</div>
<!-- / tonic -->

<!-- fret numbers -->
<div class="row flex-nowrap">
    <div class="nopadding fret-markers text-muted"></div>
    <% for(var fret = 0; fret <= fretsCount; fret++) { %>
    <div class="nopadding fret-note">
        <% var needMarkFret = _.contains(markedFrets, fret); %>
        <% if(needMarkFret) {%>
            <h6 class="<%= needMarkFret ? 'marked-fret badge-success text-white' : ''%>" ><%= fret %></h6>
        <% } else {%>
            <%= fret %>
        <% }%>
    </div>
    <% } %>
</div>
<!-- / fret numbers -->

<!-- frets -->
<% var stringNumber = 1; %>
<% _.each(neckModel, function(stringModel){ %>
    <div class="row flex-nowrap">
        <div class="zero-fret-note string-tune js-string-tuning-<%=stringNumber%>" title="#<%=stringNumber%>">
            <%=stringNumber%>
        </div>
        <% var fret = 0; %>
        <% _.each(stringModel, function(note) { %>
            <div class="nopadding fret-note string-line guitar-string guitar-fret <%= (fret == 1 || fret == 12 || fret == 24) ? 'fret-highlighted' : '' %>">

                <% _.each(note.customIcons, function(customIcon) { %>
                    <div class="js-fret-note text-muted <%= customIcon %>" data-fret-note="<%= note.noteId %>_<%= note.note %>"></div>
                <% }) %>

                <h4 class="js-fret-note <%= note.noteStyle %>" title="<%=note.translation%>: <%=note.customTitle%>" data-fret-note="<%= note.noteId %>_<%= note.note %>">
                    <%= note.note %>
                </h4>
            </div>
            <% fret++; %>
        <% }) %>
    </div>
    <% stringNumber++ %>
<% }) %>
<!-- / frets -->

<!-- fret numbers -->
<div class="row flex-nowrap mt-10">
    <div class="nopadding fret-markers text-muted"></div>
    <% for(var fret = 0; fret <= fretsCount; fret++) { %>
        <div class="nopadding fret-note">
            <% var needMarkFret = _.contains(markedFrets, fret); %>
            <% if(needMarkFret) {%>
                <h6 class="<%= needMarkFret ? 'marked-fret badge-success text-white' : ''%>" ><%= fret %></h6>
            <% } else {%>
                <%= fret %>
            <% }%>
        </div>
    <% } %>
</div>
<!-- / fret numbers -->

<hr />

<!-- sequence -->
<div class="row">
    <div class="col-8">
        <% for(var k = 0; k < gammasCount; k++) { %>
            <div class="row">
                <div class="col-2 small">
                    <% if(k == 0) { %>
                        <%= translator.baseGamma %>
                    <% } else {%>
                        <%= translator.additionalGamma %>
                    <% }%>
                </div>
                <div class="col-8 js-sequence-select-control-<%= k %>"></div>
            </div>
        <% }%>
    </div>
    <div class="col-4">

        <div class="row">
            <div class="col-12"><h5><%= translator.noteSelectionType %></h5></div>
            <div class="col-12">
                <input type="radio" name="noteSelectionType" id="noteSelectionType1" value="1" <%= noteSelectionType == 1 ? "checked='checked'" : '' %> > <label for="noteSelectionType1"><%= translator.noteSelectionTypeOne %></label>
                <input type="radio" name="noteSelectionType" id="noteSelectionType2" value="2" <%= noteSelectionType == 2 ? "checked='checked'" : '' %> > <label for="noteSelectionType2"><%= translator.noteSelectionTypeAll %></label>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <button class="btn btn-default fa fa-eraser js-clear-all-selected-notes" type="button" > <%= translator.clearAllSelectedNotes %></button>
            </div>
        </div>

        <hr />

        <div class="row">
            <div class="col-12"><h5><%= translator.fretsCountLabel %></h5></div>
            <div class="col-12 js-frets-count"></div>
        </div>

        <div class="row">
            <div class="col-12">
                <small class="text-muted">* <%= translator.fretsCountChangeHint %></small>
            </div>
        </div>
    </div>
</div>

<!-- / sequence -->

<hr />

<!-- comment -->
<div class="row">
    <div class="col-12">
        <small class="text-muted">* <%= translator.clickNoteHint %></small>
    </div>
</div>
<!-- /comment -->