<style>
    .zero-fret-note {
        width: 75px;
        font-size: 10px;
        text-align: center;
        height: 40px;
        padding-top: 7px;
    }

    .fret-note {
        width: 55px;
        font-size: 10px;
        text-align: center;
    }

    .guitar-fret {
        border-right: solid 1px gray;
    }

    .fret-highlighted {
        border-left: solid 3px navy;
    }

    .string-tune {
        border-right: 1px solid gray;
    }

    .string-line {
        height: 40px;
    }

    .guitar-string {
        background: rgb(245,246,246);
        background: -moz-linear-gradient(top,  rgba(245,246,246,1) 25%, rgba(219,220,226,1) 36%, rgba(170,174,183,1) 42%, rgba(199,210,214,1) 49%, rgba(182,183,196,1) 56%, rgba(221,223,227,1) 63%, rgba(245,246,246,1) 73%);
        background: -webkit-linear-gradient(top,  rgba(245,246,246,1) 25%,rgba(219,220,226,1) 36%,rgba(170,174,183,1) 42%,rgba(199,210,214,1) 49%,rgba(182,183,196,1) 56%,rgba(221,223,227,1) 63%,rgba(245,246,246,1) 73%);
        background: linear-gradient(to bottom,  rgba(245,246,246,1) 25%,rgba(219,220,226,1) 36%,rgba(170,174,183,1) 42%,rgba(199,210,214,1) 49%,rgba(182,183,196,1) 56%,rgba(221,223,227,1) 63%,rgba(245,246,246,1) 73%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f6f6', endColorstr='#f5f6f6',GradientType=0 );
    }

    .fret-markers {
        width: 75px;
        font-size: 10px;
        text-align: center;
        height: 10px;
        padding-top: 7px;
    }

    .marked-fret {
        border-radius: 25px;
    }

    /* notes styles */

    .highlighted-note {
        font-size: 14px;
        font-family: Georgia;
        font-weight: bold;
        border-radius: 15px;
        border: 1px solid gray;
        padding: 9px !important;
        margin: 2px !important;
    }

    .full-tone-note {
    }

    .half-tone-note {
        padding-top: 4px;
        font-size: 12px;
    }

    .tonic-note {
        padding: 8px !important;
        border: 2px solid #0b3e6f;
    }

    /* /notes styles */

    .minor-gamma-note {
        background-color: #9acfea;
    }

    .minor-blues-gamma-note {
        background-color: #86bfa0;
    }

    .harmonic-minor-gamma-note {
        background-color: #acdd4a;
    }

    .harmonic-major-gamma-note {
        background-color: #b2dba1;
    }

    .major-blues-gamma-note {
        background-color: #46b8da;
    }

    .japanese-gamma-note {
        background-color: #efec9f;
    }

    .arabian-gamma-note {
        background-color: #baaa5a;
    }

    .gypsy-gamma-note {
        background-color: #b2dba1;
    }

    .judas-gamma-note {
        background-color: #fddfdf;
    }

    .east-gamma-note {
        background-color: #cb842e;
    }

    .selected-note {
        color: navy;
        background-color: #ccd232;
        border: 2px solid #0b3e6f;
        padding: 8px !important;
        margin: 2px !important;
        border-radius: 5px;
    }
</style>

<!-- tonic -->
<div class="row">
    <div class="col-xs-12">
        <div class="row">
        <% for(var note = 0; note < notes.length; note++) { %>
            <div class="col-xs-1 text-center well well-sm" >
                <h4 class="<%= notes[note].full ? 'text-info strong' : 'text-muted' %> <%= tonic == notes[note].note ? 'bg-info highlighted-note' : '' %>">
                    <input type="radio" name="notes" id="<%= notes[note].note %>" value="<%= notes[note].note %>" <%= tonic == notes[note].note ? "checked='checked'" : '' %> >
                    <label for="<%= notes[note].note %>"></label> <%= notes[note].note %>
                </h4>
            </div>
        <% } %>
        </div>
    </div>
</div>
<!-- / tonic -->

<!-- fret numbers -->
<div class="row">
    <div class="col-xs-1 fret-markers nopadding text-muted"></div>
    <% for(var fret = 0; fret <= fretsCount; fret++) { %>
        <div class="col-xs-1 fret-note nopadding">
            <%= fret %>
        </div>
    <% } %>
</div>
<!-- / fret numbers -->

<!-- frets -->
<% var stringNumber = 1; %>
<% _.each(neckModel, function(stringModel){ %>
    <div class="row ">
        <div class="col-xs-1 zero-fret-note string-tune js-string-tuning-<%=stringNumber%>" title="#<%=stringNumber%>">
            <%=stringNumber%>
        </div>
        <% var fret = 0; %>
        <% _.each(stringModel, function(note) { %>
            <div class="col-xs-1 fret-note string-line nopadding guitar-string guitar-fret <%= (fret == 1 || fret == 12 || fret == 24) ? 'fret-highlighted' : '' %>">
                <h4 class="js-fret-note <%= note.noteStyle %>" title="<%=note.translation%> <%=note.customTitle%>"  data-fret-note="<%= note.noteId %>_<%= note.note %>">
                    <span class="text-muted <%= note.customIcon %>"></span>
                    <%= note.note %>
                </h4>
            </div>
            <% fret++; %>
        <% }) %>
    </div>
    <% stringNumber++ %>
<% }) %>
<!-- / frets -->

<!-- fret numbers -->
<div class="row">
    <div class="col-xs-1 fret-markers nopadding text-muted"></div>
    <% for(var fret = 0; fret <= fretsCount; fret++) { %>
        <div class="col-xs-1 fret-note nopadding">
            <%= fret %>
        </div>
    <% } %>
</div>
<!-- / fret numbers -->

<!-- frets markers -->
<div class="row">
    <div class="col-xs-1 fret-markers nopadding"></div>
    <% for(var fret = 0; fret <= fretsCount + 1; fret++) { %>
        <div class="col-xs-1 fret-note nopadding text-muted" title="<%= translator.neckPointersLabel %>">
            <% var needMarkFret = _.contains(markedFrets, fret); %>
            <h4 class="<%= needMarkFret ? 'marked-fret bg-success' : ''%>" ><%= needMarkFret ? fret : '' %></h4>
        </div>
    <% } %>
</div>
<!-- / frets markers -->

<hr />

<!-- sequence -->
<div class="row">
    <div class="col-xs-6">
        <% for(var k = 0; k < gammasCount; k++) { %>
            <div class="row">
                <div class="col-xs-4 small">
                    <% if(k == 0) { %>
                        <%= translator.baseGamma %>
                    <% } else {%>
                        <%= translator.additionalGamma %>
                    <% }%>
                </div>
                <div class="col-xs-6 js-sequence-select-control-<%= k %>"></div>
            </div>
        <% }%>
    </div>
    <div class="col-xs-6">
        <div class="row">
            <div class="col-xs-12"><%= translator.noteSelectionType %></div>
            <div class="col-xs-12">
                <input type="radio" name="noteSelectionType" id="noteSelectionType1" value="1" <%= noteSelectionType == 1 ? "checked='checked'" : '' %> > <label for="noteSelectionType1"><%= translator.noteSelectionTypeOne %></label>
                <input type="radio" name="noteSelectionType" id="noteSelectionType2" value="2" <%= noteSelectionType == 2 ? "checked='checked'" : '' %> > <label for="noteSelectionType2"><%= translator.noteSelectionTypeAll %></label>
            </div>
            <div class="col-xs-12">
                <button class="btn btn-default fa fa-eraser js-clear-all-selected-notes" type="button" > <%= translator.clearAllSelectedNotes %></button>
            </div>
        </div>
    </div>
</div>

<!-- / sequence -->

<hr />

<!-- comment -->
<div class="row">
    <div class="col-xs-12">
        <h5 class="text-muted">* <%= translator.clickNoteHint %></h5>
    </div>
</div>
<!-- /comment -->