<div class="row">

    <div class="col-1 mt-10">
        <% if(selectedSequenceType) { %>
            <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                <input type="checkbox" class="custom-control-input js-gamma-enabled" value="true" <%= selectedSequenceEnabled ? 'checked' : '' %> >
                <span class="custom-control-indicator"></span>
            </label>
        <% } %>
    </div>

    <div class="col-7">
        <select id="selectedSequenceType" class="form-control">
            <option value="0">-</option>
            <% _.each(sequences, function(offset) { %>
                <option value="<%= offset.sequenceCode %>" <%= selectedSequenceType == offset.sequenceCode ? "selected='selected'" : '' %> ><%= offset.nameTranslated %></option>
            <% }) %>
        </select>
    </div>
    <div class="col-2">
        <% if(selectedSequenceEnabled) { %>
            <button class="btn btn-default fa fa-remove js-remove-button" type="button" ></button>
        <% } %>
    </div>
    <div class="col-2">
        <div class="js-sequence-color" style="width: 30px; border: 1px solid gray; border-radius: 15px; padding-top: 5px;">&nbsp;</div>
    </div>
</div>
