<div class="row">
    <div class="col-xs-8">
        <select id="selectedSequenceType" class="form-control">
            <option value="0">-</option>
            <% _.each(gammaOffsets, function(offset) { %>
            <option value="<%= offset.sequenceType %>" <%= selectedSequenceType == offset.sequenceType ? "selected='selected'" : '' %> ><%= offset.nameTranslated %></option>
            <% }) %>
        </select>
    </div>
    <div class="col-xs-2">
        <button class="btn btn-default fa fa-remove js-remove-button" type="button" />
    </div>
    <div class="col-xs-2">
        <div class="js-sequence-color" style="width: 30px; border: 1px solid gray; border-radius: 15px;">&nbsp;</div>
    </div>
</div>
