<div class="row">

	<div class="col-lg-5">
		<%- strategyName %>

		<small class="text-muted">
		<ul>
		<% _.each( cups, function( cup ) { %>
			<li><%-cup.cupName%></li>
		<% } ) %>
		</ul>
		</small>

	</div>

	<div class="col-lg-1">
		<%- +pointsForMatchScore %>
	</div>

	<div class="col-lg-1">
		<%- +pointsForMatchWinner %>
	</div>

	<div class="col-lg-3">
		<% if( pointsDelta > 0 ) { %>
			<%- pointsDelta %> ( + <%- pointsForBetWithinDelta %> )
		<% } %>
	</div>

	<div class="col-lg-2 btn-group pull-right">
		<button type="button" class="btn btn-default fa fa-edit js-entry-edit"></button>
		<button type="button" class="btn btn-default fa fa-recycle js-entry-delete" <%= cups.length > 0 ? 'disabled' : '' %> ></button>
	</div>

</div>
<hr />