<div class="header-container page-header-c"></div>

<div class="header-specific-container" style="display: none;">
	<small><%-user.userName%></small>

	<div class="col-lg-2 admin-menu-container" style="float: right"></div>

	<script type="text/javascript">
		require( [ 'jquery', 'js/admin/menu/admin-menu' ], function ( $, init ) {

			var menus = [
				{ selector: '', 					icon: 'fa fa-backward', link: '/totalizator/', 		text: '<%=translator.backToSite%>' }
				, { selector: '', 					icon: 'fa fa-language', link: '/translations/', 	text: '<%=translator.translations%>' }
				, { selector: 'divider' }
				, { selector: 'logout-link', 		icon: 'fa fa-sign-out', link: '#', 					text: '<%=translator.logout%>' }
			];

			init( menus, $( '.admin-menu-container') );
		} );
	</script>

</div>

<script type="text/javascript">
	require( [ 'jquery', 'public/js/header/header' ], function ( $, init ) {
		init( $( '.header-container'), $( '.header-specific-container' ), '<%=translator.pageTitle%>' );
	} );
</script>

<div class="row">

	<div class="col-lg-4">

		<div class="col-lg-12 admin-page-categories-container"></div>

	</div>

	<div class="col-lg-4">

		<div class="col-lg-12 admin-page-cup-container"></div>

	</div>

</div>


