<div class="page-header" style="padding-left: 15px;">

	<div class="row">

		<div class="col-lg-2">
			<img src="/resources/public/img/logo.png">
		</div>

		<div class="col-lg-10">
			<h1>Totalizator / Admin</h1>
			<small><%-user.userName%></small>

			<div class="col-lg-1 text-right fa fa-sign-out logout-link" style="float: right"><a href="#"> Logout</a></div>
			<div class="col-lg-2 text-right fa fa-backward admin-link" style="float: right"><a href="/totalizator/"> Back to site</a></div>
		</div>

	</div>

</div>

<div class="row">

	<div class="col-lg-4">

		<div class="col-lg-12 admin-page-categories-container"></div>

	</div>

	<div class="col-lg-4">

		<div class="col-lg-12 admin-page-cup-container"></div>

	</div>

</div>


