<table class="table table-striped table-hover">

	<thead>
		<td></td>
		<% _.each( currentUserGroups, function( userGroup ) { %>
			<td class="text-center col-md-1"><%- userGroup.userGroupName %></td>
		<% }) %>
	</thead>

	<% _.each( users, function( user ) { %>
		<tr	<%=currentUser.userId == user.userId ? "class='current-user'" : '' %> >

			<td>
				<a href="/totalizator/users/<%-user.userId%>/"><%-user.userName%></a>
			</td>

			<% _.each( currentUserGroups, function( userGroup ) { %>

				<td class="text-center">
					<% if( user.userId != currentUser.userId ) { %>

						<% if( ! userGroupsMembership[ user.userId ][ userGroup.userGroupId ] ) { %>
							<button type="button" class="btn btn-default fa fa-plus js-user-group" data-user-id="<%=user.userId%>" data-group-id="<%=userGroup.userGroupId%>"></button>
						<% } %>

						<% if( userGroupsMembership[ user.userId ][ userGroup.userGroupId ] ) { %>
							<button type="button" class="btn btn-info fa fa-close js-user-group" data-user-id="<%=user.userId%>" data-group-id="<%=userGroup.userGroupId%>"></button>
						<% } %>

					<% } %>
				</td>
			<% }) %>

		</tr>
	<% }) %>

</table>
