<div class="dropdown col-lg-2">
	<button class="btn btn-default dropdown-toggle fa <%=icon%>" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
		<span class="caret"></span>
	</button>
	<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
		<% _.each( menus, function( menu ) { %>

			<% if( menu.selector != 'divider' ) { %>
				<li role="presentation" style="height: 30px;">
					<a class="<%=menu.icon%> <%=menu.selector%>" role="menuitem" tabindex="-1" href="<%=menu.link%>"> <%=menu.text%></a>
				</li>
			<% } %>

			<% if( menu.selector == 'divider' ) { %>
				<li role="presentation" class="divider"></li>
			<% } %>

		<% }) %>
	</ul>
</div>
