<div class="row">
	<div class="col-xs-12">
		<%= translator.jobTaskNameLabel %>
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		<input type="text" class="form-control" id="job-task-name" value="<%= jobTaskName %>">
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		<input type="checkbox" id="job-task-active" value="1" <%= jobTaskActive ? 'checked' : '' %> > <%= translator.jobTaskActiveLabel %>
	</div>
</div>

<hr />

<div class="row">
	<div class="col-xs-12 js-job-task-parameters">

	</div>
</div>