<div class="row">
	<div class="col-xs-12 col-lg-12 text-center">
		<small>
			<ul class="breadcrumb">
				<li><a href="/betmen/sports/<%=cup.category.sportKind.sportKindId%>/" title="<%= translator.sportKindLabel %>"><%=cup.category.sportKind.sportKindName%></a></li>
				<li><a href="/betmen/categories/<%=cup.category.categoryId%>/" title="<%= translator.categoryLabel %>"><%=cup.category.categoryName%></a></li>
				<li><strong><a href="/betmen/cups/<%=cup.cupId%>/" title="<%= translator.cupLabel %>"><%=cup.cupName%></a></strong></li>
				<li><a href="/betmen/cups/<%=cup.cupId%>/matches/" title="<%= translator.matchesLabel %>"><%=translator.gamesLabel%></a></li>
			</ul>
		</small>
	</div>
</div>

<% if( timePeriodType == 1 ) { %>
	<div class="row">
		<div class="col-xs-12 col-lg-6 text-right text-muted">
			<%= translator.dateFromLabel %>
		</div>
		<div class="col-xs-12 col-lg-6">
			<%= dateFromFormatted %>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-lg-6 text-right text-muted">
			<%= translator.dateToLabel %>
		</div>
		<div class="col-xs-12 col-lg-6">
			<%= dateToFormatted %>
		</div>
	</div>
<% } %>

<% if( timePeriodType == 2 ) { %>
	<div class="row">
		<div class="col-xs-12 col-lg-6 text-right text-muted">
			<%= translator.daysOffsetLabel %>
		</div>
		<div class="col-xs-12 col-lg-6">
			<%= timePeriod.daysOffset %> <small>( <%= daysOffsetText %> )</small>
		</div>
	</div>
<% } %>

<% if( timePeriodType == 3 ) { %>
	<div class="row">
		<div class="col-xs-12 col-lg-6 text-right text-muted">
			<%= translator.monthsOffsetLabel %>
		</div>
		<div class="col-xs-12 col-lg-6">
			<%= timePeriod.monthsOffset %> <small>( <%= monthsOffsetText %> )</small>
		</div>
	</div>
<% } %>