<% var matchResults = view.getMatchResults( match ) %>
<div class="row">

	<div class="col-lg-2 text-right" title="#<%= matchId %>">
		<strong><%= view.formatDate( match.beginningTime ) %></strong>
	</div>

	<div class="col-lg-3 text-right <%= matchResults.style1 %> ">
		<% if( match.homeTeamNumber == 1 ) { %>
			<i class="fa fa-home"></i>
		<% } %>
		<small><%= match.team1.teamName %></small> <img src="<%= match.team1.teamLogo %>" height="32">
	</div>

	<div class="col-lg-1 text-right <%= matchResults.style1 %> ">
		<% if( match.matchFinished ) { %>
			<%= match.score1 %>
		<% } %>
	</div>

	<div class="col-lg-1 text-left <%= matchResults.style2 %> ">
		<% if( match.matchFinished ) { %>
			<%= match.score2 %>
		<% } %>
	</div>

	<div class="col-lg-3 <%= matchResults.style2 %>">
		<img src="<%= match.team2.teamLogo %>" height="32"> <small><%= match.team2.teamName %></small>
		<% if( match.homeTeamNumber == 2 ) { %>
			<i class="fa fa-home"></i>
		<% } %>
	</div>

	<div class="col-lg-2 text-center">
		<% if( bet != null ) { %>
			<span title="<%- translator.yourBetHint %>"><%= bet.score1 %> : <%= bet.score2 %></span>
		<% } %>
		<% if( points > 0 ) { %>
			+ <%= points %>
		<% } %>
	</div>

</div>