<% var matchResults = view.getMatchResults( match ) %>
<% var activeMatchStyle = ! match.matchFinished ? 'text-success' : '' %>
<div class="row">

	<div class="col-lg-2 text-right" title="#<%= matchId %>">
		<strong><%= match.beginningTime %></strong>
	</div>

	<div class="col-lg-2 text-right <%= matchResults.style1 %> <%= activeMatchStyle %> ">
		<% if( match.homeTeamNumber == 1 ) { %>
			<i class="fa fa-home"></i>
		<% } %>
		<%= match.team1.teamName %> <img src="<%= match.team1.teamLogo %>" height="32">
	</div>

	<div class="col-lg-1 text-right <%= matchResults.style1 %> ">
		<% if( match.matchFinished ) { %>
			<%= match.score1 %>
		<% } %>
	</div>

	<div class="col-lg-1 text-left <%= matchResults.style2 %> ">
		<% if( match.matchFinished ) { %>
			<%= match.score2 %>
		<% } %>
	</div>

	<div class="col-lg-2 <%= matchResults.style2 %>  <%= activeMatchStyle %>">
		<img src="<%= match.team2.teamLogo %>" height="32"> <%= match.team2.teamName %>
		<% if( match.homeTeamNumber == 2 ) { %>
			<i class="fa fa-home"></i>
		<% } %>
	</div>

	<div class="col-lg-2 text-center">
		<% if( bet != null ) { %>
			<span title="<%- translator.yourBetHint %>"><%= bet.score1 %> : <%= bet.score2 %></span>
		<% } %>
	</div>

	<div class="col-lg-2 text-center">
		<% if( points > 0 ) { %>
			+ <%= points %>
		<% } %>
	</div>

</div>