<% var matchResults = transformer.getMatchResults() %>
<div class="row">

	<div class="col-lg-2 text-right" title="#<%= matchId %>">
		<strong><%= transformer.formatDate() %></strong> <sup><%= transformer.formatTime() %></sup>
	</div>

	<div class="col-lg-3 text-right <%= matchResults.style1 %> ">
		<% if( match.homeTeamNumber == 1 ) { %>
			<i class="fa fa-home"></i>
		<% } %>
		<small><%= transformer.team1().teamName %></small> <img src="<%= transformer.team1().teamLogo %>" height="32">
	</div>

	<div class="col-lg-1 text-right <%= matchResults.style1 %> ">
		<% if( match.matchFinished ) { %>
			<%= transformer.score1() %>
		<% } %>
	</div>

	<div class="col-lg-1 text-left <%= matchResults.style2 %> ">
		<% if( match.matchFinished ) { %>
			<%= transformer.score2() %>
		<% } %>
	</div>

	<div class="col-lg-3 <%= matchResults.style2 %>">
		<img src="<%= transformer.team2().teamLogo %>" height="32"> <small><%= transformer.team2().teamName %></small>
		<% if( match.homeTeamNumber == 2 ) { %>
			<i class="fa fa-home"></i>
		<% } %>
	</div>

	<div class="col-lg-2 text-center">
		<% if( bet != null ) { %>
			<span title="<%- translator.yourBetHint %>"><%= transformer.betScore1() %> : <%= transformer.betScore2() %></span>
		<% } %>
		<% if( points > 0 ) { %>
			<strong><sup class="text-warning">+ <%= points %></sup></strong>
		<% } %>
	</div>

</div>