<div class="panel <%= model.teamChecked ? 'panel-info' : 'panel-default' %>">

	<div class="panel-heading clearfix" title="">

		<div class="btn-group pull-right">
			<button type="button" class="btn btn-default fa fa-edit team-entry-edit"></button>
			<% if( matchCount == 0 ) { %>
				<button type="button" class="btn btn-default fa fa-recycle team-entry-del" ></button>
			<% } %>
		</div>

		<img src="<%=model.teamLogo%>" height="24" width="24">
		<small title="#<%=model.teamId%>"><%=model.teamName%></small>

	</div>

	<div class="panel-body">

		<div class="row">

			<div class="col-xs-1">
				<% if( selectedCup.cupId > 0 && ! selectedCup.finished ) { %>
					<input type="checkbox" class="js-team-checkbox" value="<%=model.teamId%>" <%= model.teamChecked ? 'checked' : '' %> >
				<% } %>
			</div>

			<div class="col-xs-2">
				<img src="<%=model.teamLogo%>" height="64">
			</div>

			<div class="col-xs-9">

				<div class="row">
					<div class="col-xs-6 text-right">
						<small><%=translator.teamNameLabel%></small>
					</div>
					<div class="col-xs-6">
						<strong><a href="/totalizator/teams/<%=model.teamId%>/"><%=model.teamName%></a></strong>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-6 text-right">
						<small><%=translator.teamImportIdLabel%></small>
					</div>
					<div class="col-xs-6">
						<%=model.teamImportId%>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-6 text-right">
						<small><%=translator.totalMatchesLabel%></small>
					</div>
					<div class="col-xs-6">
						<%=model.matchCount%>
					</div>
				</div>

			</div>

		</div>

	</div>


</div>

<!--<div class="row admin-entry-line <%= model.teamChecked ? 'bg-success' : '' %>">

	<div class="btn-group pull-right">

	</div>

	<div class="col-xs-9">

		<div class="row">



			<div class="col-xs-7">
				<strong><a href="/totalizator/teams/<%=model.teamId%>/"><%=model.teamName%></a></strong>
				<br />
				<small><%= translator.teamImportIdLabel %>: <strong><%=model.teamImportId%></strong></small>
				<br />
				<small><%= translator.totalMatchesLabel %>: <strong><%=matchCount%></strong></small>
			</div>

		</div>

	</div>

</div>-->
