<div class="row admin-entry-line <%= model.teamChecked ? 'bg-success' : '' %>">

	<div class="btn-group pull-right">
		<button type="button" class="btn btn-default fa fa-edit team-entry-edit"></button>
		<% if( matchCount == 0 ) { %>
			<button type="button" class="btn btn-default fa fa-recycle team-entry-del" ></button>
		<% } %>
	</div>

	<div class="col-xs-9" title="#<%=model.teamId%>">

		<div class="row">

			<div class="col-xs-1">
				<% if( selectedCup.cupId > 0 && ! selectedCup.finished ) { %>
					<input type="checkbox" class="js-team-checkbox" value="<%=model.teamId%>" <%= model.teamChecked ? 'checked' : '' %> >
				<% } %>
			</div>

			<div class="col-xs-3">
				<img class="team-logo" src="<%=model.teamLogo%>" height="32" width="64">
			</div>

			<div class="col-xs-7">
				<a href="/totalizator/teams/<%=model.teamId%>/"><%=model.teamName%></a>
				<br />
				<%= translator.totalMatchesLabel %>: <%=matchCount%>
			</div>

		</div>

	</div>

</div>
