<div class="row admin-entry-line <%= model.teamChecked ? 'bg-success' : '' %>">

	<div class="btn-group pull-right">
		<button type="button" class="btn btn-default fa fa-edit team-entry-edit"></button>
		<button type="button" class="btn btn-default fa fa-recycle team-entry-del"></button>
	</div>

	<div class="col-lg-7" title="#<%=model.cupId%>">

		<% if( selectedCup.cupId > 0 && ! this.selectedCup.finished ) { %>
			<input type="checkbox" class="js-team-checkbox" value="<%=model.teamId%>" <%= model.teamChecked ? 'checked' : '' %> >
		<% } %>

		<img class="team-logo" src="<%=model.teamLogo%>" height="32">
		<a href="/totalizator/teams/<%=model.teamId%>/"><%=model.teamName%></a>
	</div>

	<div class="col-lg-2">
		<%=categoryName%>
	</div>

</div>