<div class="row">
	<div class="col-lg-12">

		<div class="panel panel-default">

			<div class="panel-heading clearfix" title="<%=model.teamName%>">
				<%=model.teamName%>
				<div class="btn-group pull-right">
					<button type="button" class="btn btn-primary fa fa-save team-entry-save"></button>
					<button type="button" class="btn btn-default fa fa-close team-entry-edit-cancel"></button>
				</div>
			</div>

			<div class="panel-body">

				<div class="row">

					<div class="col-lg-6">
						<%= translator.teamNameLabel %>
					</div>

					<div class="col-lg-6">
						<input class="form-control entry-name" id="" name="" value="<%=model.teamName%>">
					</div>
				</div>

				<div class="row">

					<div class="col-lg-6">
						<%- translator.teamCategoryLabel %>
					</div>

					<div class="col-lg-6">
						<select class="chosen-select entry-category-id">
							<% _.each( categories, function( category ) { %>
							<option value="<%=category.categoryId%>" <%= model.categoryId == category.categoryId ? 'selected' : ''%>><%=category.categoryName%></option>
							<% }) %>
						</select>
					</div>
				</div>

				<div class="row">

					<div class="col-lg-6">
						<%- translator.teamLogoLabel %>
					</div>

					<div class="col-lg-6">
						<input type="file">
					</div>
				</div>

			</div>

		</div>

		<div class="panel-footer js-footer">

		</div>

	</div>

</div>

