<div class="row admin-entry-line bg-info">
	<div class="btn-group pull-right">
		<button type="button" class="btn btn-primary fa fa-save team-entry-save"></button>
		<button type="button" class="btn btn-default fa fa-close team-entry-edit-cancel"></button>
	</div>
	<div class="col-lg-5"><input class="form-control entry-name" id="" name="" value="<%=model.teamName%>"></div>
	<div class="col-lg-4">
		<select class="chosen-select entry-category-id">
			<% _.each( categories, function( category ) { %>
				<option value="<%=category.categoryId%>" <%= model.categoryId == category.categoryId ? 'selected' : '' %>><%=category.categoryName%></option>
			<% }) %>
		</select>
	</div>
</div>