<div class="row" style="margin-bottom: 10px;">

	<div class="col-lg-10">

		<div class="row">
			<div class="col-lg-10 text-right <%=style1%>">
				<small><%=team1Name%></small>
			</div>
			<div class="col-lg-2 <%=style1%>">
				<input type="text" value="" size="2">
			</div>
		</div>

		<div class="row">
			<div class="col-lg-10 text-right <%=style2%>">
				<small><%=team2Name%></small>
			</div>
			<div class="col-lg-2 <%=style2%>">
				<input type="text" value="" size="2">
			</div>
		</div>

	</div>

	<div class="col-lg-1" style="padding-top: 13px;">
		<button class="fa fa-save button-bet-save"></button>
		<button class="fa fa-close button-bet-discard"></button>
	</div>

</div>