<div class="row entry-container" style="margin-bottom: 10px;">

	<div class="col-lg-12">

		<div class="row">

			<div class="col-lg-10">

				<div class="row">
					<div class="col-lg-10 text-right <%=style1%>">
						<small><%=team1Name%></small>
					</div>
					<div class="col-lg-2 result-1-cell <%=style1%>"></div>
				</div>

				<div class="row">
					<div class="col-lg-10 text-right <%=style2%>">
						<small><%=team2Name%></small>
					</div>
					<div class="col-lg-2 result-2-cell <%=style2%>"></div>
				</div>

			</div>

			<div class="col-lg-1 buttons-cell" style="padding-top: 13px;"></div>
		</div>

		<div class="row bets-container"></div>

	</div>

</div>