<div class="row" style="margin-bottom: 10px;">

	<div class="col-lg-1 fa fa-diamond" style="padding-top: 13px;" title="<%=translator.betThisMatchLabel%>"></div>

	<div class="col-lg-10">
		<div class="row">
			<div class="col-lg-8 text-right">
				<small><%=team1Name%></small>
			</div>
			<div class="col-lg-4">
				<small><%=score1%></small>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-8 text-right">
				<small><%=team2Name%></small>
			</div>
			<div class="col-lg-4">
				<small><%=score2%></small>
			</div>
		</div>
	</div>
</div>