<div class="row entry-container" style="margin-bottom: 10px;">

	<div class="col-lg-12">

		<div class="row">

			<div class="col-lg-5" style="margin-right: 10px;">
				<div class="row text-right <%=style1%>">
					<small><%=team1Name%></small>
				</div>
				<div class="row text-right result-1-cell <%=style1%>"><%=score1%></div>
				<div class="row text-right bet-1-cell <%=style1%>"></div>
			</div>

			<div class="col-lg-5">
				<div class="row text-left <%=style2%>">
					<small><%=team2Name%></small>
				</div>
				<div class="row text-left result-2-cell <%=style2%>"><%=score2%></div>
				<div class="row text-left bet-2-cell <%=style2%>"></div>
			</div>

			<div class="col-lg-1">
				<div class="row text-right buttons-cell" style="padding-top: 3px;"></div>
			</div>
		</div>

	</div>
</div>

