<div class="panel panel-info">

	<div class="panel-heading">
		<a href="#" onclick="return false;"><div class="header-icon fa fa-backward matches-settings-cancel" title="<%=translator.buttonCancelSettingsLabel%>"></div></a>
		<a href="#" onclick="return false;"><div class="header-icon fa fa-save matches-settings-save" title="<%=translator.buttonSaveSettingsLabel%>"></div></a>

		<h3 class="panel-title text-center"><%=translator.title%></h3>
	</div>

	<div class="panel-body text-left">
		<div class="col-lg-12">
			<table class="table">

				<tr>
					<td>Category</td>
					<td>
						<select class="chosen-select" id="settings-category-id">
							<option value="0">&nbsp;</option>
							<% _.each( categories, function( category ) { %>
							<option value="<%=category.categoryId%>" <%= model.categoryId == category.categoryId ? 'selected' : '' %> ><%=category.categoryName%></option>
							<% }) %>
						</select>
					</td>
				</tr>

				<tr>
					<td>Cup</td>
					<td>
						<% if( model.categoryId > 0 ) { %>
						<select class="chosen-select" id="settings-cup-id">
							<option value="0">&nbsp;</option>
							<% _.each( cups, function( cup ) { %>
							<option value="<%=cup.cupId%>" <%= model.cupId == cup.cupId ? 'selected' : '' %> ><%=cup.cupName%></option>
							<% }) %>
						</select>
						<% } %>
					</td>
				</tr>

				<tr>
					<td>Team</td>
					<td>
						<% if( model.categoryId > 0 ) { %>
						<select class="chosen-select" id="settings-team-id">
							<option value="0">&nbsp;</option>
							<% _.each( teams, function( team ) { %>
							<option value="<%=team.teamId%>" <%= model.teamId == team.teamId ? 'selected' : '' %> ><%=team.teamName%></option>
							<% }) %>
						</select>
						<% } %>
					</td>
				</tr>

			</table>

		</div>
	</div>

	<div class="panel-footer"></div>

</div>