<div class="row admin-entry-line bg-info">

	<div class="row">
		<div class="col-lg-12">
			<div class="col-lg-1 fa fa-save cup-entry-save header-icon" title="Save"></div>
			<div class="col-lg-1 fa fa-close cup-entry-edit-cancel header-icon" title="Cancel editing"></div>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-12">
			<table class="table">
				<tr>
					<td><%=translator.entryEditCategoryLabel%></td>
					<td>
						<select class="form-control entry-category-id">
							<% _.each( categories, function( category ) { %>
							<option value="<%=category.categoryId%>"
							<%= model.categoryId == category.categoryId ? 'selected' : '' %>><%=category.categoryName%></option>
							<% }) %>
						</select>
					</td>
				</tr>

				<tr>
					<td><%=translator.entryEditCupNameLabel%></td>
					<td>
						<input type="text" class="form-control entry-name" value="<%=model.cupName%>">
					</td>
				</tr>

				<tr>
					<td><%=translator.entryEditShowOnPortalPageLabel%></td>
					<td>
						<input type="checkbox" class="show-on-portal-page-checkbox" value="true" <%=model.showOnPortalPage ? 'checked' : ''%> >
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>