<div class="panel panel-default admin-entry-line">

	<div class="panel-heading clearfix">
		<div class="btn-group pull-right">
			<button type="button" class="btn btn-default fa fa-save cup-entry-save"></button>
			<button type="button" class="btn btn-default fa fa-close cup-entry-edit-cancel"></button>
		</div>
	</div>

	<div class="panel-body">
		<div class="col-lg-12">
			<table>
				<tr>
					<td><%=translator.entryEditCategoryLabel%></td>
					<td>
						<select class="chosen-select entry-category-id">
							<% _.each( categories, function( category ) { %>
							<option value="<%=category.categoryId%>"
							<%= model.categoryId == category.categoryId ? 'selected' : '' %>><%=category.categoryName%></option>
							<% }) %>
						</select>
					</td>
				</tr>

				<tr>
					<td><%=translator.entryEditCupNameLabel%></td>
					<td>
						<input type="text" class="form-control entry-name" value="<%=model.cupName%>">
					</td>
				</tr>

				<tr>
					<td><%=translator.entryEditShowOnPortalPageLabel%></td>
					<td>
						<input type="checkbox" class="show-on-portal-page-checkbox" value="true" <%=model.showOnPortalPage ? 'checked' : ''%> >
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>