<div class="row admin-entry-line">
	<div class="col-lg-1 fa fa-edit cup-entry-edit admin-entry-icon-cell" title="Edit"></div>
	<div class="col-lg-1 fa fa-recycle cup-entry-del admin-entry-icon-cell" title="Delete"></div>
	<div class="col-lg-1 <%=model.showOnPortalPage ? 'fa fa-eye' : ''%>  admin-entry-icon-cell" title="<%=translator.entryEditShowOnPortalPageLabel%>"></div>
	<div class="col-lg-7 cup-entry-name" title="#<%=model.cupId%>"><%=model.cupName%></div>
	<div class="col-lg-2"><%=categoryName%></div>
</div>


