<div class="row">

	<div class="col-12 col-xl-3">

		<div class="row">

			<div class="col-12">

				<div class="row">
					<div class="col-12 text-center">
						<img src="<%=cup.logoUrl%>" title="<%=cup.cupName%>" width="64"/>
					</div>
				</div>

				<div class="row">
					<div class="col-12">
						<ul>
							<li>
								<a href="/betmen/cups/<%=cup.cupId%>/matches/"><%=translator.cupMatchesLabel%></a>
							</li>
							<li>
								<a href="/betmen/cups/<%=cup.cupId%>/bets/"><%=translator.cupBetsLabel%></a>
							</li>
							<li>
								<a href="/betmen/cups/<%=cup.cupId%>/winners/bets/"><%=translator.allCupBetsLabel%></a>
							</li>
						</ul>
					</div>
				</div>

			</div>

		</div>



		<div class="row">

			<div class="col-12 js-cup-winners">

			</div>

		</div>


	</div>


	<div class="col-12 col-xl-6 js-cup-scores">

	</div>

	<div class="col-12 col-xl-3 js-cup-teams">

	</div>

</div>

<% if( cup.finished ) { %>
	<%= translator.cupFinished %>
<% } %>