<div class="row">
	<div class="col-12">

		<div class="card">

			<div class="card-header bg-info" title="">
				<img src="<%=model.logoUrl%>" height="24" width="24">
				<small><%=model.categoryName%></small>
				<div class="btn-group pull-right">
					<button type="button" class="btn btn-primary fa fa-save category-entry-save"></button>
					<button type="button" class="btn btn-default fa fa-close category-entry-edit-cancel"></button>
				</div>
			</div>

			<div class="card-body">

				<div class="row">

					<div class="col-6">
						<small><%= translator.categoryNameLabel %></small>
					</div>

					<div class="col-6">
						<input class="form-control entry-name" id="" name="" value="<%=model.categoryName%>">
					</div>
				</div>


				<div class="row">

					<div class="col-6">
						<small><%- translator.sportKindLabel %></small>
					</div>

					<div class="col-6">
						<select id="sportKindId" class="form-control">
							<% _.each( sportKinds, function( sportKind ) { %>
								<option value="<%=sportKind.sportKindId%>" <%= sportKind.sportKindId == model.sportKindId ? 'selected' : '' %> ><%=sportKind.sportKindName%></option>
							<% }) %>
						</select>
					</div>
				</div>

				<div class="row">

					<div class="col-6">
						<small><%- translator.importServerLabel %></small>
					</div>

					<div class="col-6">
						<select id="game-import-strategy-type-id" class="form-control">
							<% _.each( remoteGameImportStrategyTypes, function( remoteGameImportStrategyType ) { %>
								<option value="<%=remoteGameImportStrategyType.id%>" <%= remoteGameImportStrategyType.id == model.remoteGameImportStrategyTypeId ? 'selected' : '' %> ><%=remoteGameImportStrategyType.name%></option>
							<% }) %>
						</select>
					</div>
				</div>

				<div class="row">

					<div class="col-6">
						<small><%- translator.logoLabel %></small>
					</div>

					<div class="col-6">

						<form method="POST" id='category_form' enctype="multipart/form-data">
							<input type="file" id="categoryLogoFile" name="categoryLogoFile">
						</form>

					</div>
				</div>

			</div>

			<div class="card-footer js-footer">

			</div>

		</div>

	</div>
</div>


