<div class="card bg-light mb-10 js-category-entry mb-10">

	<div class="card-header bg-secondary" title="">

		<div class="btn-group pull-right">
			<button type="button" class="btn btn-default fa fa-edit category-entry-edit"></button>
			<button type="button" class="btn btn-default fa fa-recycle category-entry-del"></button>
		</div>

		<img src="<%=model.logoUrl%>" height="24" width="24">
		<small class="js-category-entry-select"><%=model.categoryName%></small>
	</div>

	<div class="card-body js-category-entry-select">

		<div class="row">

			<div class="col-2">
				<img src="<%=model.logoUrl%>" height="64">
			</div>

			<div class="col-10">

				<div class="row">
					<div class="col-4 text-right">
						<small><%=translator.categoryNameLabel%></small>
					</div>
					<div class="col-8">
						<strong><%=model.categoryName%></strong>
					</div>
				</div>

				<div class="row">
					<div class="col-4 text-right">
						<small><%=translator.sportKindLabel%></small>
					</div>
					<div class="col-8">
						<%=sportKindName%>
					</div>
				</div>

				<div class="row">
					<div class="col-4 text-right">
						<small><%=translator.importServerLabel%></small>
					</div>
					<div class="col-8">
						<%=remoteGameImportStrategyTypeName%>
					</div>
				</div>

			</div>

		</div>

	</div>

</div>


