<div class="row">

	<div class="col-lg-4">
		<%=translator.userName%>
	</div>

	<div class="col-lg-8">
		<input id="userName" name="userName" class="form-control" value="<%=userName%>">
	</div>

</div>

<hr />

<div class="row">

	<div class="col-lg-12">

		<div class="btn-group pull-right clearfix">
			<button type="button" class="btn btn-primary fa fa-save js-save-settings-button"></button>
			<button type="button" class="btn btn-default fa fa-close js-close-settings-button"></button>
		</div>

	</div>

</div>
