<div class="row">

	<div class="col-xs-12 col-lg-8">

		<div class="row well well-sm">

			<div class="col-xs-12 col-lg-4">
				<button class="btn btn-default js-date-before" >
					<i class="fa fa-caret-square-o-left"></i>
					<%=prevDate%>
				</button>
			</div>

			<div class="col-xs-12 col-lg-4 text-center text-warning">
				<h4 class="js-match-date">
					<%=currentDate%>
					<!--<br >( <%= translator.todayLabel %> )-->
				</h4>
			</div>

			<div class="col-xs-12 col-lg-4">
				<button class="btn btn-default pull-right js-date-after" >
					<%=nextDate%>
					<i class="fa fa-caret-square-o-right"></i>
				</button>
			</div>

		</div>

		<div class="row">

			<div class="col-xs-12 col-lg-6 js-portal-page-matches-on-date">

			</div>


			<div class="col-xs-12 col-lg-6 js-portal-page-container">

			</div>


		</div>

	</div>



	<div class="col-xs-12 col-lg-2">

	</div>



	<div class="col-xs-12 col-lg-2 js-portal-page-activity-stream">

	</div>

</div>


