<div class="row">

	<div class="col-xs-12">

		<div class="row well well-sm">

			<div class="col-xs-12 col-lg-4">
				<button class="btn btn-default js-date-before" >
					<i class="fa fa-hand-o-left"></i>
					<%=prevDate%>
				</button>
			</div>

			<div class="col-xs-12 col-lg-4 text-center text-warning js-date-current">
			</div>

			<div class="col-xs-12 col-lg-4">
				<button class="btn btn-default pull-right js-date-after" >
					<%=nextDate%>
					<i class="fa fa-hand-o-right"></i>
				</button>
			</div>

		</div>

		<div class="row">

			<div class="col-xs-12 col-lg-4 js-portal-page-matches-on-date">

			</div>

			<div class="col-xs-12 col-lg-5 js-portal-page-container">

			</div>

			<div class="col-xs-12 col-lg-3 js-users-rating">

			</div>

		</div>

	</div>

</div>


