<div class="row">
	<div class="col-12 text-center">
		<small>
			<input type="radio" name="time-period-type" id="radio-date-from-to" value="1" <%= timePeriodType == 1 ? 'checked' : '' %> > <label for="radio-date-from-to"><%= translator.dateRangeLabel %></label> &nbsp;&nbsp;
			<input type="radio" name="time-period-type" id="radio-days-offset" value="2" <%= timePeriodType == 2 ? 'checked' : '' %> > <label for="radio-days-offset"><%= translator.daysOffsetLabel %></label>  &nbsp;&nbsp;
			<input type="radio" name="time-period-type" id="radio-months-offset" value="3" <%= timePeriodType == 3 ? 'checked' : '' %> > <label for="radio-months-offset"><%= translator.monthsOffsetLabel %></label>
		</small>
	</div>
</div>

<% if( timePeriodType == 1 ) {%>
	<div class="row">
		<div class="col-12 col-xl-4">
			<small><%= translator.dateFromLabel %></small>
		</div>
		<div class="col-12 col-xl-6">
			<div class="js-date-from"></div>
		</div>
	</div>

	<div class="row">
		<div class="col-12 col-xl-4">
			<small><%= translator.dateToLabel %></small>
		</div>
		<div class="col-12 col-xl-6">
			<div class="js-to-date"></div>
		</div>
	</div>
<% }%>

<% if( timePeriodType == 2 ) {%>
	<div class="row">
		<div class="col-12 col-xl-4">
			<small><%= translator.daysOffsetLabel %></small>
		</div>
		<div class="col-12 col-xl-3">
			<input type="number" class="form-control" id="days-offset" value="<%=daysOffset%>">
		</div>
		<div class="col-12 col-xl-5 text-muted js-days-offset-date">

		</div>
	</div>
<% }%>

<% if( timePeriodType == 3 ) {%>
	<div class="row">
		<div class="col-12 col-xl-4">
			<small><%= translator.monthsOffsetLabel %></small>
		</div>
		<div class="col-12 col-xl-3">
			<input type="number" class="form-control" id="months-offset" value="<%=monthsOffset%>">
		</div>
		<div class="col-12 col-xl-5 text-muted js-months-offset-date">

		</div>
	</div>
<% }%>