<% if( customButtons.length > 0 ) { %>
	<div class="btn-group">
		<% _.each( customButtons, function( menu ) { %>
			<button class="btn btn-outline-dark fa <%=menu.icon%> <%=menu.selector%> <%=menu.cssClass%>" data-entity_id="<%=menu.entity_id%>" title="<%=menu.text%>"></button>
		<% }) %>
	</div>
<% } %>

<div class="btn-group">

	<button class="btn btn-outline-dark dropdown-toggle <%=cssClass%> fa <%=menuButtonIcon%>" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" title="<%-menuButtonHint%>">
		<% if( menuButtonImage ) { %>
			<img src="<%=menuButtonImage%>" height="24" width="24" style="margin-top: -5px;">
		<% } %>
		<%-menuButtonText%>
	</button>

	<div class="dropdown-menu <%=cssClass%>" role="menu" aria-labelledby="dropdownMenuButton">
		<% _.each( menus, function( menu ) { %>

			<% if( menu.selector != 'divider' ) { %>
				<a class="dropdown-item <%=menu.icon%> <%=menu.selector%>" data-entity_id="<%=menu.entity_id%>" tabindex="-1" href="<%=menu.link%>" <%= menu.link == '#' ? "onclick='return false;'" : ''%> >
					<span class="<%= menu.selected ? 'text-info' : ''%>" data-entity_id="<%=menu.entity_id%>"><%=menu.text%></span>
				</a>
			<% } %>

			<% if( menu.selector == 'divider' ) { %>
				<div class="dropdown-divider"></div>
			<% } %>

		<% }) %>
	</div>
</div>