<div class='col-xs-12'>
    <div class='row'>
        <div class='col-xs-12 text-center text-muted'>
            <%=translator.noFavoriteCategoriesLabel%>
            <br />
            <%=translator.goAndCreateFavoriteCategoriesLabel%>
        </div>
    </div>

    <div class='col-xs-12 js-define-favorite-categories'></div>

    <div class='row'>
        <div class='col-xs-12 text-center'>
            <button class="btn btn-default js-favorite-categories-defined">
                <i class="fa fa-hand-peace-o"></i>
                <%=translator.favoriteCategoriesDefinedLabel%>
            </button>
        </div>
    </div>
</div>