<div class='row'>
    <div class='col-xs-12 text-center text-muted'>
        <h3><%=translator.matchesOfNonFavoriteCategoriesOnDateLabel%></h3>
    </div>
</div>

<%_.each(anotherMatches, function(anotherSport) {%>
    <div class="row">
        <div class="col-xs-12">
            <h4 class="col-xs-offset-1">
                <a href="/betmen/sports/<%=anotherSport.sport.sportKindId%>/"><%=anotherSport.sport.sportKindName%></a>
            </h4>
        </div>
    </div>
    <%_.each(anotherSport.categories, function(anotherCategory) {%>
        <%_.each(anotherCategory.cups, function(anotherCup) {%>
            <div class="row">
                <div class="col-xs-11 text-muted col-xs-offset-1">
                    <a href="/betmen/categories/<%=anotherCategory.category.categoryId%>/"><%=anotherCategory.category.categoryName%></a>
                    &nbsp; - &nbsp;
                    <a href="/betmen/cups/<%=anotherCup.cup.cupId%>/matches/<%=onDate%>/"><%=anotherCup.cup.cupName%></a>
                    (<span title="<%=translator.matchesOnDateLabel%>: <%=anotherCup.matchesCount%>"> <%=anotherCup.matchesCount%> </span>)
                </div>
            </div>
        <%})%>
    <%})%>
<%})%>