<div class="row">

	<div class="col-12 js-date-chooser"></div>

</div>

<div class="row">

	<div class="col-xs-12 col-4 js-portal-page-matches-on-date">
        <div class="row">
            <div class="col-12 js-portal-page-favorite-categories-matches-on-date"></div>
        </div>
        <div class="row">
            <div class="col-12 js-portal-page-another-matches-on-date"></div>
        </div>
    </div>

	<div class="col-xs-12 col-5 js-portal-page-container"></div>

	<div class="col-xs-12 col-3">

		<div class="row">
			<div class="col-12 js-favorites-categories-statistics"></div>
		</div>

		<div class="row">
			<div class="col-12 js-users-rating-today"></div>
		</div>

		<div class="row">
			<div class="col-12 js-users-rating-yesterday"></div>
		</div>

		<div class="row">
			<div class="col-12 js-users-rating-month"></div>
		</div>

	</div>

</div>



