<div class="row mb-10">

	<div class="col-12 col-xl-2 text-center">
		<a href="/betmen/" title="<%=projectName%>">
			<img src="/resources/img/logo.png" height="128px">
		</a>
		<h6>
			<span class="fa fa-user text-muted">
				<a href="/betmen/users/<%- currentUser.userId %>/"><%- currentUser.userName %></a>
			</span>
		</h6>
	</div>

	<div class="col-12 col-xl-10">

		<div class="row">
			<div class="col-3 col-xl-1 js-main-menu-container"></div>
			<div class="col-9 col-xl-11">
					<h5><%=title%></h5>
					<small class="js-time-now"><%=timeNowFormatted%></small>
			</div>
		</div>

		<div class="row">
			<div class="col-12">

				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="/betmen/"><%=projectName%></a></li>
					<% _.each( breadcrumbs, function( crumb ){ %>
						<li class="breadcrumb-item <%=crumb.link == '#' ? 'active' : ''%>">

							<% if( crumb.icon ) { %>
								<span class="<%=crumb.icon%>"></span>
							<% } %>

							<% if( crumb.link == '#' ) { %>
								<%=crumb.title%>
							<% } %>

							<% if( crumb.link != '#' ) { %>
								<a href="<%=crumb.link%>"><%=crumb.title%></a>
							<% } %>

						</li>
					<% }) %>
				</ol>

			</div>
		</div>

		<div class="row">
			<div class="col-12 js-cups-navi"></div>
		</div>

	</div>

</div>
