<div class="row js-match-container">
	<div class="col-xs-12 text-muted" style="height: 125px; overflow-y: scroll; font-size: 12px;">

		<div class="row" style="font-size: 11px;">

			<div class="col-xs-5 text-right">
				<strong><a href="/totalizator/teams/<%=team1.teamId%>/"><%=team1.teamName%></a></strong>
			</div>
			<div class="col-xs-1 text-center">
				<img src="<%=team1.teamLogo%>" title="<%=team1.teamName%>" height="16">
			</div>

			<div class="col-xs-1 text-center">
				<img src="<%=team2.teamLogo%>" title="<%=team2.teamName%>" height="16">
			</div>

			<div class="col-xs-4">
				<strong><a href="/totalizator/teams/<%=team2.teamId%>/"><%=team2.teamName%></a></strong>
			</div>
		</div>

		<div class="row" style="font-size: 9px;">
			<div class="col-xs-5 text-right">
				<span class="fa text-success"><%=translator.won%><strong><%= wonLost.team1won %></strong></span> /
				<span class="fa text-danger"><%=translator.lost%><strong><%= wonLost.team1lost %></strong></span> /
				<span class="fa text-info"><%=translator.total%><strong><%= wonLost.team1Total %></strong></span>
			</div>
			<div class="col-xs-1"></div>
			<div class="col-xs-1"></div>
			<div class="col-xs-4">
				<span class="fa text-success"><%=translator.won%><strong><%= wonLost.team2won %></strong></span> /
				<span class="fa text-danger"><%=translator.lost%><strong><%= wonLost.team2lost %></strong></span> /
				<span class="fa text-info"><%=translator.total%><strong><%= wonLost.team2Total %></strong></span>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">

				<% _.each( standoffsByCup, function( cupStandoff ) { %>

					<div class="row bottom-dotted">

						<div class="col-xs-8">
							<a href="/totalizator/cups/<%=cupStandoff.cup.cupId%>/"><%=cupStandoff.cup.cupName%></a>
						</div>

						<div class="col-xs-4 text-right">
							<strong>
								<%=cupStandoff.score1%> : <%=cupStandoff.score2%>
							</strong>
						</div>
					</div>

					<% if( teamsLastGamesStat.cup.cupId == cupStandoff.cup.cupId ) { %>
						<div class="row">
							<div class="col-xs-6 text-center">
								<%=translator.lastGamesWon%>: <%=teamsLastGamesStat.team1CurrentCupLastGamesWon%> / <%=teamsLastGamesStat.team1CurrentCupLastGames%>
							</div>
							<div class="col-xs-6 text-center">
								<%=translator.lastGamesWon%>: <%=teamsLastGamesStat.team2CurrentCupLastGamesWon%> / <%=teamsLastGamesStat.team2CurrentCupLastGames%>
							</div>
						</div>

					<% } %>

					<% if( matchesMap[ cupStandoff.cup.cupId ] ) { %>

						<% _.each( matchesMap[ cupStandoff.cup.cupId ], function( transformer ) { %>

							<% var matchResults = transformer.getMatchResults() %>

							<div class="row">
								<div class="col-xs-2 text-right">
									<% if( transformer.isFinished() ) { %>
										<span class="fa fa-flag-checkered"></span>
									<% } %>
								</div>

								<div class="col-xs-6 text-right">
									<small><%= transformer.formatDate() %></small>
								</div>
								<div class="col-xs-4">
									<small>
										<% if( transformer.homeTeamNumber() == 1 ) { %>
											<span class="fa fa-home"></span>
										<% } %>
										<% if( ! transformer.isFinished() ) { %>
											<span class="text-muted"><strong>?</strong></span>
										<% } %>
										<% if( transformer.isFinished() ) { %>
											<span class="<%= matchResults.style1 %>"><%= transformer.score1() %></span>
										<% } %>
										:
										<% if( ! transformer.isFinished() ) { %>
											<span class="text-muted"><strong>?</strong></span>
										<% } %>
										<% if( transformer.isFinished() ) { %>
											<span class="<%= matchResults.style2 %>"><%= transformer.score2() %></span>
										<% } %>
										<% if( transformer.homeTeamNumber() == 2 ) { %>
											<span class="fa fa-home"></span>
										<% } %>
									</small>
								</div>
							</div>
						<% }) %>
					<% } %>
				<% }) %>

			</div>
		</div>

	</div>
</div>