<div class="row">

	<div class="col-xs-2 text-center">
		<h4 class="text-info"><%-team.teamName%></h4>
		<img src="<%-team.teamLogo%>" class="team-logo" title="<%-team.teamName%>">
	</div>

	<div class="col-xs-7">
		<h4 class="text-info text-center"><%-translator.teamCupsLabel%></h4>
		<div class="row js-cups-statistics"></div>

	</div>

	<div class="col-xs-3">
		<h4 class="text-info text-center"><%-translator.teamActiveCupsGamesLabel%></h4>
		<div class="row js-team-games"></div>

	</div>
</div>