<div class="row">

	<div class="col-xs-6 text-right">
		<%=translator.userGroupLabel%>
	</div>

	<div class="col-xs-6">
		<select id="selectedUserGroupId" name="selectedUserGroupId" class="form-control">
			<option value="0">[ <%=translator.noFilterByUserGroupsLabel%> ]</option>
			<% _.each( userGroups, function( userGroup ) { %>
				<option value="<%=userGroup.userGroupId%>" <%= userGroup.userGroupId == selectedUserGroupId ? 'selected' : '' %> ><%=userGroup.userGroupName%></option>
			<% } ) %>
		</select>
	</div>

</div>