<table class="table table-striped table-hover">

	<thead>
	<tr>
		<td class="text-center"><%=translator.userLabel%></td>
		<td class="text-center"><a href="/betmen/teams/<%=team1.teamId%>/"><%=team1.teamName%></a></td>
		<td class="text-center"><a href="/betmen/teams/<%=team1.teamId%>/"><%=team2.teamName%></a></td>
		<td class="text-center"><%=translator.matchBetsPointsColumn%></td>
		<td class="text-center"><%=translator.matchBonusColumn%></td>
		<td class="text-center"><%=translator.summaryPointColumn%></td>
	</tr>
	</thead>

	<tbody>

	<% _.each( matchBets, function( matchBet ) {%>
	<tr class="<%= matchBet.bet.user.userId == currentUser.userId ? 'current-user' : '' %>">

		<td>
			<a href="/betmen/users/<%=matchBet.bet.user.userId%>/"><%-matchBet.bet.user.userName%></a>
		</td>

		<td class="text-center <%=matchBet.matchResults.style1%>" width="150">
			<% if( ! matchBet.bet.securedBet ) { %>
			<%-matchBet.bet.score1%>
			<% } %>

			<% if( matchBet.bet.securedBet ) { %>
			<span class="fa fa-lock" title="<%=translator.anotherBetsAreHidden%>"></span>
			<% } %>
		</td>

		<td class="text-center <%=matchBet.matchResults.style2%>" width="150">

			<% if( ! matchBet.bet.securedBet ) { %>
			<%-matchBet.bet.score2%>
			<% } %>

			<% if( matchBet.bet.securedBet ) { %>
			<span class="fa fa-lock" title="<%=translator.anotherBetsAreHidden%>"></span>
			<% } %>
		</td>

		<td class="text-center <%= matchBet.userMatchPointsHolder.matchBetPoints < 0 ? 'text-danger' : 'text-success'%>">
			<small><%= matchBet.userMatchPointsHolder.matchBetPoints != 0 ? matchBet.userMatchPointsHolder.matchBetPoints : ''%></small>
		</td>

		<td class="text-center">
			<small><%= matchBet.userMatchPointsHolder.matchBonus != 0 ? matchBet.userMatchPointsHolder.matchBonus : ''%></small>
		</td>

		<td class="text-right <%= matchBet.userMatchPointsHolder && matchBet.userMatchPointsHolder.summaryPoints < 0 ? 'text-danger' : 'text-success'%> ">
			<strong><%= matchBet.userMatchPointsHolder && matchBet.userMatchPointsHolder.summaryPoints != 0 ? matchBet.userMatchPointsHolder.summaryPoints : ''%></strong>
		</td>
	</tr>
	<% })%>

	</tbody>

</table>