<div class="row <%=color%> bottom-dotted activity-stream">

	<div class="col-xs-12">

		<div class="row">

			<div class="col-xs-4" title="<%= activityDate %> <%= activityTime %>, <%= activityTimeAgo %>">
				<%= activityTime %>
			</div>

			<div class="col-xs-4">
				<a href="/totalizator/sports/<%= match.category.sportKind.sportKindId %>/"><%= match.category.sportKind.sportKindName %></a>
			</div>

		</div>

		<div class="row">

			<div class="col-xs-10">

				<img src="<%= match.team1.teamLogo %>" title="<%= match.team1.teamName %>" height="24" width="24">

				<a href="/totalizator/teams/<%= match.team2.teamId %>/">
					<%= match.team1.teamName %>
				</a>

			</div>

			<div class="col-xs-2 text-right">
				<strong><%= match.score1 %></strong>
			</div>

		</div>

		<div class="row">

			<div class="col-xs-10">

				<img src="<%= match.team2.teamLogo %>" title="<%= match.team2.teamName %>" height="24" width="24">

				<a href="/totalizator/teams/<%= match.team1.teamId %>/">
					<%= match.team2.teamName %>
				</a>

			</div>

			<div class="col-xs-2 text-right">
				<strong><%= match.score2 %></strong>
			</div>

		</div>

	</div>

</div>