<div class="row <%=color%> bottom-dotted activity-stream">

	<div class="col-xs-12">

		<div class="row">

			<div class="col-xs-2" title="<%= activityDate %> <%= activityTime %>, <%= activityTimeAgo %>">
				<%= activityTime %>
			</div>

			<div class="col-xs-4">
				<a href="/totalizator/cups/<%= match.cup.cupId %>/" title="<%= match.category.sportKind.sportKindName %>: <%= match.cup.category.categoryName %> - <%= match.cup.cupName %>">
					<img src="<%= match.cup.logoUrl %>" height="24" width="24">
				</a>
			</div>

			<div class="col-xs-6 text-right">

				<a href="/totalizator/matches/<%= match.matchId %>/bets/">
					<img src="<%= match.team1.teamLogo %>" title="<%= match.team1.teamName %>" height="24" width="24">
					<img src="<%= match.team2.teamLogo %>" title="<%= match.team2.teamName %>" height="24" width="24">
				</a>

			</div>

		</div>

		<div class="row">

			<div class="col-xs-12">
				<a href="/totalizator/users/<%= activityOfUser.userId %>/"><%= activityOfUser.userName %></a>
				<span class="text-muted"><%= activityText %></span>
				<% if( ! showBetData ) {%>
					<i class="fa fa-lock"></i>
				<% } %>
			</div>

		</div>

		<div class="row">
			<div class="col-xs-12" style="font-size: 12px;">
				<% if( showBetData ) {%>
					<%= score1 %> <sup><%= showOldScores ? oldScore1 : '' %></sup> - <%= score2 %> <sup><%= showOldScores ? oldScore2 : '' %></sup>

					<% if( activityBetPoints && activityBetPoints.pointsSummary != 0 ) { %>
						<span class="text-muted" title="<%=translator.pointsOfActivityLabel%>">
							&nbsp;&nbsp;&nbsp; <%=translator.pointsLabel%>: <%-activityBetPoints.pointsSummary%> <sup><%= activityBetPoints.matchBonus != 0 ? activityBetPoints.betPoints + '+' + activityBetPoints.matchBonus : ''%></sup>
						</span>
					<% } %>
				<% } %>
			</div>
		</div>

	</div>

</div>