<div class="row">

	<div class="col-lg-2 js-cups-navi">

	</div>

	<div class="col-lg-10">

		<div class="row">

			<div class="col-lg-6 text-right">
				<%=team1.teamName%>
				<img src="<%=team1.teamLogo%>" title="<%=team1.teamName%>">
			</div>

			<div class="col-lg-6">
				<img src="<%=team2.teamLogo%>" title="<%=team2.teamName%>">
				<%=team2.teamName%>
			</div>

		</div>

		<hr />

		<div class="row">

			<div class="col-lg-12 js-match-bets-container">

			</div>

		</div>

	</div>

</div>