<table class="table table-striped table-hover">
	<tbody>
		<% var i = 1 %>

		<% _.each( winners, function( team ) { %>

				<tr>
					<td>
						<strong><%- i %> <%= translator.cupPosition %></strong>
					</td>
				</tr>

				<tr>
					<td>
						<div class="row">
							<div class="col-xs-5 text-center">
								<img src="<%- team.teamLogo %>" class="team-logo">
							</div>
							<div class="col-xs-7 text-info" style="margin-top: 20px;">
								<a href="/totalizator/teams/<%- team.teamId %>/"><%- team.teamName %></a>
							</div>
						</div>
					</td>
				</tr>

			<% i++ %>

		<% } ) %>
	</tbody>
</table>