<div class="card mb-10">

	<div class="card-header alert-primary">

		<div class="btn-group pull-right">
			<div class="js-window-drop-down-menu"></div>
		</div>

		<span class="js-window-icon fa fa-spinner fa-spin"></span>

		<span class="js-widget-title"><%=translator.loadingLabel%></span>

	</div>

	<div class="card-body js-widget-body" style="display: none; min-height: <%=minHeight%>;">

		<div class="row text-center js-loading text-muted">
			<div class="col-12">
				<span class="js-window-icon fa fa-spinner fa-spin fa-3x"></span>
				<h4><%=translator.loadingLabel%></h4>
			</div>
		</div>

	</div>

	<div class="card-footer js-footer"> <!--clearfix-->

	</div>

</div>
