<div class="row">
	<div class="col-xs-12 col-lg-6 text-right text-muted">
		<%= translator.jobTaskNameLabel %>
	</div>
	<div class="col-xs-12 col-lg-6">
		<strong><%= jobTaskName %></strong>
	</div>
</div>

<div class="row">
	<div class="col-xs-12 col-lg-6 text-right text-muted">
		<%= translator.jobTaskActiveLabel %>
	</div>
	<div class="col-xs-12 col-lg-6">
		<i class="fa <%= jobTaskActive ? 'fa-check-square-o text-success' : 'fa-square-o text-muted' %> "></i>
	</div>
</div>

<hr />

<div class="row">
	<div class="col-xs-12 js-custom-job-parameters">

	</div>
</div>