<div class="row">

	<div class="col-12">

		<ul class="nav nav-tabs">

			<% _.each( sportKindCups, function( entry ) { %>

				<li class="nav-item dropdown sport-tab">
					<a class="nav-link badge badge-light dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
						<%=entry.sportKind.sportKindName%>
					</a>
					<div class="dropdown-menu">

						<% if( entry.sportKind.sportKindId > 0 ) { %>
							<a class="dropdown-item" href="/betmen/sports/<%=entry.sportKind.sportKindId%>/">
								<small class="text-primary"><%=translator.allCups%></small>
							</a>
						<% } %>

						<% if( entry.cupAndCategoryFavorite.length > 0 ) { %>
							<% _.each( entry.cupAndCategoryFavorite, function( cupAndCategoryFavorite ) { %>
							<% var cup = cupAndCategoryFavorite.cup; %>
								<a class="dropdown-item <%= cup.cupId == selectedCupId ? 'active' : '' %>" href="/betmen/cups/<%=cup.cupId%>/">

									<% if( entry.sportKind.sportKindId == 0 ) { %>
										<small class="fa fa-star"></small>
										<small class="badge badge-info"> <%= cup.category.sportKind.sportKindName %></small>
										<small class="badge badge-secondary"><%=cup.category.categoryName%></small>
										<small class="badge badge-light"><%=cup.cupName%></small>
									<% } %>

									<% if( cupAndCategoryFavorite.categoryInFavorite && entry.sportKind.sportKindId > 0 ) { %>
										<small class="fa fa-star"></small>
										<small class="badge badge-secondary"><%=cup.category.categoryName%></small>
										<small class="badge badge-light"><%=cup.cupName%></small>
									<% } %>

									<% if( ! cupAndCategoryFavorite.categoryInFavorite && entry.sportKind.sportKindId > 0 ) { %>
										<small class="badge badge-secondary"><%=cup.category.categoryName%></small>
										<small class="badge badge-light"><%=cup.cupName%></small>
									<% } %>

								</a>
							<% }) %>
						<% } %>

					</div>
				</li>

			<% }) %>

		</ul>

	</div>

</div>