<div class="row admin-entry-line">
	<div class="btn-group pull-right">
		<button type="button" class="btn btn-default fa fa-edit cup-entry-edit"></button>
		<button type="button" class="btn btn-default fa fa-recycle cup-entry-del"></button>
	</div>
	<div class="col-lg-7 cup-entry-name" title="#<%=model.cupId%>, <%=translator.entryEditCupStartDateLabel%>: <%=cupStartDate%>">

		<div class="admin-logo-icon"><img class="team-logo" src="<%=model.logoUrl%>" height="32"></div>
		<div class="admin-icon"><span class="<%=model.publicCup ? 'fa fa-eye' : ''%>" title="<%=translator.entryEditPublicCupPageLabel%>" ></span></div>
		<div class="admin-icon"><span class="<%=model.readyForCupBets ? 'fa fa-diamond' : ''%>" title="<%=translator.entryEditReadyForCupBetsLabel%>" ></span></div>
		<div class="admin-icon"><span class="<%=model.readyForMatchBets ? 'fa fa-money' : ''%>" title="<%=translator.entryEditReadyForMatchBetsLabel%>" ></span></div>
		<div class="admin-icon"><span class=" <%=model.finished ? 'fa fa-flag-checkered' : ''%>" title="<%=translator.entryEditCupIsFinishedLabel%>" ></span></div>

		<%=model.cupName%>

	</div>
	<div class="col-lg-2"><%=categoryName%></div>
</div>




