<div class="panel panel-success admin-entry-line">

	<div class="panel-heading clearfix">
		<div class="btn-group pull-right">
			<button type="button" class="btn btn-default fa fa-flag-checkered js-finish-cup" title="<%=translator.cupResultsTab%>"></button>
			<button type="button" class="btn btn-primary fa fa-save cup-entry-save"></button>
			<button type="button" class="btn btn-default fa fa-close cup-entry-edit-cancel"></button>
		</div>
		<img class="team-logo" src="<%=model.logoUrl%>" height="32">
		<%=model.cupName%>
	</div>

	<div class="panel-body">
		<div class="col-lg-12">
			<table class="js-cup-data-form">
				<tr>
					<td class="admin-form-text"><%=translator.entryEditCategoryLabel%></td>
					<td>
						<select class="chosen-select entry-category-id">
							<% _.each( categories, function( category ) { %>
							<option value="<%=category.categoryId%>"
							<%= model.categoryId == category.categoryId ? 'selected' : '' %>><%=category.categoryName%></option>
							<% }) %>
						</select>
					</td>
				</tr>

				<tr>
					<td class="admin-form-text"><%=translator.entryEditCupNameLabel%></td>
					<td>
						<input type="text" class="form-control entry-name" value="<%=model.cupName%>">
					</td>
				</tr>

				<tr>
					<td class="admin-form-text"><%=translator.entryEditCupStartDateLabel%></td>
					<td>
						<div class="js-cup-start-date"></div>
					</td>
				</tr>

				<tr>
					<td class="admin-form-text"><%=translator.entryEditWinnersCountLabel%></td>
					<td>
						<input type="number" class="form-control winners-count-field" value="<%=model.winnersCount %>" >
					</td>
				</tr>

				<tr>
					<td class="admin-form-text"><%=translator.entryEditShowOnPortalPageLabel%></td>
					<td>
						<input type="checkbox" class="show-on-portal-page-checkbox" value="true" <%=model.showOnPortalPage ? 'checked' : ''%> >
					</td>
				</tr>

			</table>

			<% if( isCupFinished ) { %>

				<hr />

				<% _.each( cupWinners, function( winner ) { %>
				<div class="row">
					<div class="col-lg-12">
						<strong><%=winner.cupPosition%> <%= translator.cupPositionLabel %>:</strong>
						<img src="<%=winner.team.teamLogo%>" height="32" />
						<%=winner.team.teamName%>
					</div>
				</div>
				<% })%>

			<% } %>

		</div>
	</div>
</div>