<div class="row admin-entry-line">
	<div class="btn-group pull-right">
		<button type="button" class="btn btn-default fa fa-edit cup-entry-edit"></button>
		<button type="button" class="btn btn-default fa fa-recycle cup-entry-del"></button>
	</div>
	<div class="col-lg-7 cup-entry-name" title="#<%=model.cupId%>">
		<%=model.cupName%>
		<span class="<%=model.showOnPortalPage ? 'fa fa-eye' : ''%>" title="<%=translator.entryEditShowOnPortalPageLabel%>" ></span>
		<span class="<%=model.readyForCupBets ? 'fa fa-diamond' : ''%>" title="<%=translator.entryEditReadyForCupBetsLabel%>" ></span>
		<span class="<%=model.readyForMatchBets ? 'fa fa-money' : ''%>" title="<%=translator.entryEditReadyForMatchBetsLabel%>" ></span>
		<span class=" <%=model.finished ? 'fa fa-flag-checkered' : ''%>" title="<%=translator.entryEditShowOnPortalPageLabel%>" ></span>
	</div>
	<div class="col-lg-2"><%=categoryName%></div>
</div>




