<div class="row">
	<div class="col-lg-12" style="min-height: 140px;">

		<h6 style="border-bottom: 1px silver dotted;">
			<%= translator.teamPlayedMatches %>:
			<strong>
				<a href="/totalizator/cups/<%=cup.cupId%>/matches/teams/<%=team.teamId%>/">
					<span class="clearfix pull-right"><%= matchCount %></span>
				</a>
			</strong>
			<br />
		</h6>

		<h6 style="border-bottom: 1px silver dotted;">
			<%= translator.teamWonMatches %>: <strong><span class="clearfix pull-right"><%= wonMatchCount %></span></strong>
		</h6>

		<% if( cupWinner ){ %>
			<h2 class="text-success">
				<span class="fa fa-trophy fa-2x"></span>
				<%=cupWinner.cupPosition %> <%= translator.cupPosition %>
			</h2>
		<% } %>

	</div>
</div>


