<% var matchResults = transformer.getMatchResults() %>
<% var betScoreHighlights = transformer.getBetScoreHighlights() %>
<div class="row">

	<div class="col-xs-6 col-lg-1  text-center js-match-drop-down-menu" style="line-height: 30px;"></div>

	<div class="col-xs-6 col-lg-2 text-center" title="#<%= matchId %>, <%= timeToMatchBeginningTime %>" style="line-height: 30px;">
		<strong style="font-size: 10px;"><%= transformer.formatDate() %></strong> <sup><%= transformer.formatTime() %></sup>
	</div>

	<div class="col-xs-2 col-lg-2 text-right <%= matchResults.style1 %> ">
		<% if( transformer.homeTeamNumber() == 1 ) { %>
			<i class="fa fa-home"></i>
		<% } %>
		<small>
			<a href="/totalizator/teams/<%- transformer.team1().teamId %>/"><%= transformer.team1().teamName %></a>
		</small>
	</div>

	<div class="col-xs-1 text-center ">
		<a href="/totalizator/teams/<%- transformer.team1().teamId %>/" title="<%= transformer.team1().teamName %>">
			<img src="<%= transformer.team1().teamLogo %>" height="32">
		</a>
	</div>

	<div class="col-xs-1 text-right text-nowrap">

		<% if( match.matchFinished ) { %>
			<span class="<%= matchResults.style1 %>" title="<%-translator.teamPointsLabel%>"><%= transformer.score1() %></span>
		<% } %>

		<% if( ! match.matchFinished ) { %>
			<span class="text-muted"><strong>?</strong></span>
		<% } %>

		<sup class="<%=betScoreHighlights.style1%>" style="font-size: 10px;" title="<%=betScoreHighlights.title%>"><%= bet != null ? transformer.betScore1() : '-' %></sup>

	</div>

	<div class="col-xs-1 text-left text-nowrap">
		<% if( match.matchFinished ) { %>
			<span class="<%= matchResults.style2 %>" title="<%-translator.teamPointsLabel%>"><%= transformer.score2() %></span>
		<% } %>

		<% if( ! match.matchFinished ) { %>
			<span class="text-muted"><strong>?</strong></span>
		<% } %>

		<sup class="<%=betScoreHighlights.style2%>" style="font-size: 10px;" title="<%=betScoreHighlights.title%>"><%= bet != null ? transformer.betScore2() : '-' %></sup>
	</div>

	<div class="col-xs-1 text-center">
		<a href="/totalizator/teams/<%- transformer.team2().teamId %>/" title="<%= transformer.team2().teamName %>">
			<img src="<%= transformer.team2().teamLogo %>" height="32">
		</a>
	</div>

	<div class="col-xs-2 col-lg-2 <%= matchResults.style2 %>">

		<small>
			<a href="/totalizator/teams/<%- transformer.team2().teamId %>/"><%= transformer.team2().teamName %></a>
		</small>
		<% if( transformer.homeTeamNumber() == 2 ) { %>
			<i class="fa fa-home"></i>
		<% } %>
	</div>

	<div class="col-xs-1 text-center">
		<% if( points > 0 ) { %>
			<strong><span class="text-warning">+ <%= points %></span></strong>
		<% } %>
	</div>

</div>