<% var matchResults = transformer.getMatchResults() %>
<% var betScoreHighlights = transformer.getBetScoreHighlights() %>
<div class="row">

	<div class="col-lg-1 js-match-drop-down-menu">

	</div>

	<div class="col-lg-2 text-right" title="#<%= matchId %>">
		<strong><%= transformer.formatDate() %></strong> <sup><%= transformer.formatTime() %></sup>
	</div>

	<div class="col-lg-3 text-right <%= matchResults.style1 %> ">
		<% if( transformer.homeTeamNumber() == 1 ) { %>
			<i class="fa fa-home"></i>
		<% } %>
		<small><%= transformer.team1().teamName %></small> <img src="<%= transformer.team1().teamLogo %>" height="32">
	</div>

	<div class="col-lg-1 text-right <%= matchResults.style1 %> ">
		<% if( match.matchFinished ) { %>
			<%= transformer.score1() %>

			<% if( bet != null ) { %>
				<sup class="<%=betScoreHighlights.style1%>" style="font-size: 10px;"><%= transformer.betScore1() %></sup>
			<% } %>
		<% } %>
	</div>

	<div class="col-lg-1 text-left <%= matchResults.style2 %> ">
		<% if( match.matchFinished ) { %>
			<%= transformer.score2() %>

			<% if( bet != null ) { %>
				<sup class="<%=betScoreHighlights.style2%>" style="font-size: 10px;"><%= transformer.betScore2() %></sup>
			<% } %>
		<% } %>
	</div>

	<div class="col-lg-3 <%= matchResults.style2 %>">
		<img src="<%= transformer.team2().teamLogo %>" height="32"> <small><%= transformer.team2().teamName %></small>
		<% if( transformer.homeTeamNumber() == 2 ) { %>
			<i class="fa fa-home"></i>
		<% } %>
	</div>

	<div class="col-lg-1 text-center">
		<% if( points > 0 ) { %>
			<strong><span class="text-warning">+ <%= points %></span></strong>
		<% } %>
	</div>

</div>