<div class="header-container page-header-c"></div>

<div class="header-specific-container" style="display: none;">
	<div class="col-lg-2 text-right fa fa-sign-out logout-link" style="float: right"><a href="#"> Logout</a></div>
	<div class="col-lg-2 text-right fa fa-cog admin-link" style="float: right"><a href="/admin/"> Admin</a></div>
	<div class="col-lg-2 text-right fa fa-cog admin-link" style="float: right"><a href="/totalizator/"> Main page</a></div>
</div>

<script type="text/javascript">
	require( [ 'jquery', 'public/js/header/header' ], function ( $, init ) {
		init( $( '.header-container' ), $( '.header-specific-container' ), 'Translations' );
	} );
</script>

<div class="col-lg-5">

	<% _.each( untranslatedList, function( entry ) { %>

	<div class="panel panel-info">
		<div class="panel-heading">
			<h3 class="panel-title text-center"><%=entry.nerd%></h3>
		</div>
		<div class="panel-body text-left">
			<% _.each( entry.translationEntries, function( translationEntry ) { %>
			<div class="row">
				<strong><%=translationEntry.language%></strong>:
				<small><%=translationEntry.nerd%></small>
			</div>
			<% }) %>
		</div>
		<div class="panel-footer"></div>
	</div>

	<% }) %>

</div>


