<div class="header-container page-header-c"></div>

<div class="header-specific-container" style="display: none;">
	<small><%-userName%></small>

	<div class="col-lg-3 admin-menu-container" style="float: right"></div>

	<script type="text/javascript">
		require( [ 'jquery', 'js/admin/menu/admin-menu' ], function ( $, init ) {

			var menus = [
				{ selector: '', 							icon: 'fa fa-backward', 		link: '/totalizator/', 	text: '<%=translator.menuPortalPage%>' }
				, { selector: 'divider' }
				, { selector: '', 							icon: 'fa fa-cog', 				link: '/admin/', 		text: '<%=translator.menuAdmin%>' }
				, { selector: 'divider' }
				, { selector: 'admin-reload-translations', 	icon: 'fa fa-refresh', 			link: '#', 				text: '<%=translator.reloadTranslations%>' }
				, { selector: 'divider' }
				, { selector: 'logout-link', 				icon: 'fa fa-sign-out', 		link: '#',				text: '<%=translator.menuLogout%>' }
			];

			init( menus, $( '.admin-menu-container') );
		} );
	</script>
</div>

<script type="text/javascript">
	require( [ 'jquery', 'public/js/header/header' ], function ( $, init ) {
		init( $( '.header-container' ), $( '.header-specific-container' ), '<%=translator.pageTitle%>' );
	} );
</script>

<div class="col-lg-5">

	<% _.each( untranslatedList, function( entry ) { %>

	<div class="panel panel-info">
		<div class="panel-heading">
			<h3 class="panel-title text-center"><%=entry.nerd%></h3>
		</div>
		<div class="panel-body text-left">
			<% _.each( entry.translationEntries, function( translationEntry ) { %>
			<div class="row">
				<strong><%=translationEntry.language%></strong>:
				<small><%=translationEntry.nerd%></small>
			</div>
			<% }) %>
		</div>
		<div class="panel-footer"></div>
	</div>

	<% }) %>

</div>


