<div class="row">
	<div class="col-xs-12">
		<table class="table table-striped table-hover">

			<% _.each( cupTeamBets, function( cupTeamBet ) { %>
				<tr>
					<td>
						<strong><%=cupTeamBet.cupPosition%> <%= translator.cupPositionLabel %></strong>
					</td>
				</tr>

				<tr>
					<td>

						<% if( cupTeamBet.team != null ) { %>

							<% if( cupTeamBet.stillActive ) { %>
								<div class="row">
									<div class="col-xs-3">
										<img class="team-logo" src="<%=cupTeamBet.team.teamLogo%>" title="<%=cupTeamBet.team.teamName%>" height="64">
									</div>
									<div class="col-xs-8 text-primary" style="margin-top: 20px;">
										<a href="#" onclick="return false;"><span class="fa fa-edit js-menu-edit-cup-bets"></span></a>
										<a href="/totalizator/teams/<%=cupTeamBet.team.teamId%>/"><%=cupTeamBet.team.teamName%></a>
									</div>
								</div>
							<% } %>

							<% if( ! cupTeamBet.stillActive ) { %>
								<div class="row">
									<div class="col-xs-1"></div>
									<div class="col-xs-3">
										<img class="team-logo team-out-of-cup" src="<%=cupTeamBet.team.teamLogo%>" title="<%=cupTeamBet.team.teamName%> ( <%-translator.teamIsOutOfCupLabel%> )" height="64">
									</div>
									<div class="col-xs-9 text-danger team-out-of-cup" title="<%-translator.teamIsOutOfCupLabel%>" style="margin-top: 20px;">
										<i class='fa fa-close'></i>
										<a href="/totalizator/teams/<%=cupTeamBet.team.teamId%>/"><%=cupTeamBet.team.teamName%></a>
									</div>
								</div>
							<% } %>

						<% } %>

						<% if( cupTeamBet.team == null ) { %>
							<a href="#" onclick="return false;"><span class="fa fa-edit js-menu-edit-cup-bets"></span></a>
							<span class="text-muted"> <%=translator.noCupTeamPositionLabel%></span>
						<% } %>

					</td>
				</tr>
			<% } ) %>

		</table>

	</div>
</div>