<style type="text/css">
	td {
		height: 60px;
	}
</style>

<div class="panel panel-default">

	<div class="panel-heading">
		<h3 class="panel-title text-center"><%=title%></h3>
 	</div>

	<div class="panel-body text-left">
		<table style="width: 100%;">
			<tr>
				<td style="width: 150px;"><label for="login">Login</label></td>
				<td>
					<div class="form-group login">
						<input type="text" id="login" name="login" class="form-control" value="">
					</div>
					<ul class="small login-errors" style="display: none;"></ul>
				</td>
			</tr>
			<tr>
				<td style="width: 150px;"><label for="name">Name</label></td>
				<td>
					<div class="form-group name">
						<input type="text" id="name" name="name" class="form-control" value="">
					</div>
					<ul class="small name-errors" style="display: none;"></ul>
				</td>
			</tr>
			<tr>
				<td><label for="password">Password</label></td>
				<td>
					<div class="form-group password">
						<input type="password" id="password" name="password" class="form-control" value="">
					</div>
					<ul class="small password-errors" style="display: none;"></ul>
				</td>
			</tr>
			<tr>
				<td><label for="password">Confirm password</label></td>
				<td>
					<div class="form-group password_confirmation">
						<input type="password" id="password_confirmation" name="password_confirmation" class="form-control"  value="111">
					</div>
					<ul class="small password_confirmation-errors" style="display: none;"></ul>
				</td>
			</tr>
		</table>
	</div>

	<div class="panel-footer text-left">
		<button type="button" class="save-button">Save</button>
	</div>

	<div class="alert alert-danger alert-dismissable" style="display: none;">
		<button type="button" class="close" aria-hidden="true">&times;</button>
		<span class="error-message"></span>
	</div>

</div>