<div class="row" style="line-height: 35px;">

	<div class="col-xs-12 col-lg-4">
		<strong><a href="/betmen/users/<%-user.userId%>/"><%-user.userName%></a></strong>
	</div>

	<% _.each( currentUserGroups, function( userGroup ) { %>
		<div class="col-xs-12 col-lg-2 text-center">
			<% if( user.userId != currentUser.userId ) { %>

				<% if( ! isMember( userGroup.userGroupId ) ) { %>
					<button type="button" class="btn btn-default fa fa-user-plus js-add-user-to-group" data-user-id="<%=user.userId%>" data-group-id="<%=userGroup.userGroupId%>"
							title="<%=translator.addUserToGroup%> <%=userGroup.userGroupName%>" onclick="return false;" ></button>
				<% } %>

				<% if( isMember( userGroup.userGroupId ) ) { %>
					<button type="button" class="btn btn-info fa fa-user-times js-remove-user-from-group" data-user-id="<%=user.userId%>" data-group-id="<%=userGroup.userGroupId%>"
							title="<%=translator.removeUserFromGroup%> <%=userGroup.userGroupName%>" onclick="return false;" ></button>
				<% } %>

			<% } %>
		</div>
	<% }) %>

</div>
