<div class="dropdown col-sm-2 col-md-2 col-lg-2">

	<button class="btn <%=cssClass%> dropdown-toggle fa <%=menuButtonIcon%>" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true" title="<%-menuButtonHint%>">
		<span class="caret"></span><%-menuButtonText%>
	</button>

	<ul class="dropdown-menu <%=cssClass%>" role="menu" aria-labelledby="dropdownMenu1">
		<% _.each( menus, function( menu ) { %>

			<% if( menu.selector != 'divider' ) { %>
				<li role="presentation" style="height: 30px;">
					<a class="<%=menu.icon%> <%=menu.selector%>" role="menuitem" data-entity_id="<%=menu.entity_id%>" tabindex="-1" href="<%=menu.link%>" <%= menu.link == '#' ? "onclick='return false;'" : ''%> > <%=menu.text%></a>
				</li>
			<% } %>

			<% if( menu.selector == 'divider' ) { %>
				<li role="presentation" class="divider"></li>
			<% } %>

		<% }) %>
	</ul>
</div>
