<% if( customButtons.length > 0 ) { %>
	<div class="btn-group">
		<% _.each( customButtons, function( menu ) { %>
			<button class="btn btn-default fa <%=menu.icon%> <%=menu.selector%> <%=menu.cssClass%>" title="<%=menu.text%>"></button>
		<% }) %>
	</div>
<% } %>

<div class="dropdown btn-group">

	<button class="btn <%=cssClass%> dropdown-toggle fa <%=menuButtonIcon%>" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true" title="<%-menuButtonHint%>">

		<% if( menuButtonImage ) { %>
			<img src="<%=menuButtonImage%>" height="24" width="24" style="margin-top: -5px;">
		<% } %>
		<%-menuButtonText%>
		<span class="caret"></span>
	</button>

	<ul class="dropdown-menu <%=cssClass%>" role="menu" aria-labelledby="dropdownMenu1">
		<% _.each( menus, function( menu ) { %>

			<% if( menu.selector != 'divider' ) { %>
				<li role="presentation" style="height: 30px;" class="">
					<a class="<%=menu.icon%> <%=menu.selector%>" role="menuitem" data-entity_id="<%=menu.entity_id%>" tabindex="-1" href="<%=menu.link%>" <%= menu.link == '#' ? "onclick='return false;'" : ''%> >
						<span class="<%= menu.selected ? 'text-info' : ''%>" data-entity_id="<%=menu.entity_id%>"><%=menu.text%></span>
					</a>
				</li>
			<% } %>

			<% if( menu.selector == 'divider' ) { %>
				<li role="presentation" class="divider"></li>
			<% } %>

		<% }) %>
	</ul>
</div>