<div class="row admin-entry-line">

	<div style="width: 500px; margin-left: auto; margin-right: auto; padding: 10px;">

		<div class="panel panel-default">

			<div class="panel-heading clearfix">

				<div class="btn-group pull-right">
					<button class="btn btn-primary fa fa-save entry-save" title="<%=translator.buttonSaveLabel%>"></button>
					<button class="btn btn-default fa fa-close entry-edit-cancel" title="<%=translator.buttonCancelEditingLabel%>"></button>
				</div>

				<h4 class="panel-title">
					<%=title%>
				</h4>
			</div>

			<div class="panel-body">

				<div class="row">

					<div class="col-lg-6 text-right">
						<%=translator.matchEdit_Category%>
					</div>
					<div class="col-lg-6 categories-container">
						<select id="category-select-box" class="chosen-select categories-select-box">
							<option value="0"></option>
						<% _.each( categories, function( category ) { %>
							<option value="<%=category.categoryId%>" <%= category.categoryId == categoryId ? 'selected' : '' %> ><%=category.categoryName%></option>
						<% }) %>
						</select>
					</div>

				</div>

				<% if( cups.length > 0 ) { %>
					<div class="row">
						<div class="col-lg-6 text-right">
							<%=translator.matchEdit_Cup%>
						</div>
						<div class="col-lg-6 cups-container">

							<select id="cup-select-box" class="chosen-select cups-select-box">
								<option value="0"></option>
							<% _.each( cups, function( cup ) { %>
								<option value="<%=cup.cupId%>" <%= model.cup.cupId == cup.cupId ? 'selected' : '' %> ><%=cup.cupName%></option>
							<% }) %>
							</select>
						</div>
					</div>
				<% } %>

				<div class="row">

					<div class="col-lg-6">

						<% if( teams.length > 0 && model.cup.cupId > 0 ) { %>
							<div class="row">
								<div class="col-lg-12 text-right">
									<%=translator.matchEdit_Team%> 1
								</div>
							</div>

							<div class="row">
								<div class="col-lg-12 text-right">
									<select id="team1-select-box" class="chosen-select team1-select-box">
										<option value="0">&nbsp;</option>
									<% _.each( teams, function( team ) { %>
										<option value="<%=team.teamId%>" <%= model.team1.teamId == team.teamId ? 'selected' : '' %> ><%=team.teamName%></option>
									<% }) %>
									</select>
								</div>
							</div>

							<div class="row">
								<div class="col-lg-5 pull-right">
									<input type="number" class="form-control" id="score1" name="score1" value="<%=model.score1%>" >
								</div>
							</div>
						<% } %>

					</div>

					<div class="col-lg-6">

						<% if( teams.length > 0 && model.cup.cupId > 0 ) { %>
							<div class="row">
								<div class="col-lg-12">
									<%=translator.matchEdit_Team%> 2
								</div>
							</div>

							<div class="row">
								<div class="col-lg-12">
									<select id="team2-select-box" class="form-control team2-select-box">
										<option value="0">&nbsp;</option>
									<% _.each( teams, function( team ) { %>
										<option value="<%=team.teamId%>" <%= model.team2.teamId == team.teamId ? 'selected' : '' %> ><%=team.teamName%></option>
									<% }) %>
									</select>
								</div>
							</div>

							<div class="row">
								<div class="col-lg-5">
									<input type="number" class="form-control col-xs-1" id="score2" name="score2" value="<%=model.score2%>" >
								</div>
							</div>
						<% } %>

					</div>

				</div>

				<div class="row">
					<div class="col-lg-6 text-right">
						<%=translator.matchEdit_BeginningTime%>
					</div>
					<div class="col-lg-6">
						<div class="match-beginning-time"></div>
					</div>
				</div>

				<div class="row">
					<div class="col-lg-6 text-right">
						<%=translator.matchEdit_MatchFinished%>
					</div>
					<div class="col-lg-6">
						<input type="checkbox" class="js-match-finished" value="true" <%=model.matchFinished ? 'checked' : ''%> >
					</div>
				</div>

		</div>

			<div class="panel-footer">

			</div>

		</div>

	</div>

</div>


