<div class="row admin-entry-line">

	<div class="btn-group pull-right">
		<button type="button" class="btn btn-default fa fa-edit entry-edit" title="<%=translator.matchEditLabel%>"></button>
		<button type="button" class="btn btn-default fa fa-recycle entry-del" title="<%=translator.matchDeleteLabel%>"></button>
	</div>

	<div class="col-lg-2">
		<input type="checkbox" class="js-group-checkbox" value="true">
		<strong>#<%=matchId%></strong> &nbsp;
		<%= model.matchFinished ? "<i class='fa fa-flag-checkered'></i>" : '' %> &nbsp;
		<i class="fa fa-money"> <a href="/totalizator/matches/<%=matchId%>/bets/" title="<%=translator.betsCountLabel%>"><%= model.betsCount %></a></i>
		/ <a class="fa fa-futbol-o" href="/totalizator/teams/standoff/<%=team1.teamId%>/vs/<%=team2.teamId%>/" title="<%=translator.teamsStandOffHistoryLabel%>"></a>
	</div>

	<div class="col-lg-3 text-right <%=matchResults.style1%>">
		<% if( homeTeamNumber == 1 ) { %>
			<i class="fa fa-home"></i>
		<% } %>
		<%=team1.teamName%>
		<img class="team-logo" src="<%=team1.teamLogo%>" height="32">
	</div>

	<div class="col-lg-3 <%=matchResults.style2%>">
		<img class="team-logo" src="<%=team2.teamLogo%>" height="32">
		<%=team2.teamName%>
		<% if( homeTeamNumber == 2 ) { %>
			<i class="fa fa-home"></i>
		<% } %>
	</div>

	<div class="col-lg-1">
		<span class="<%=matchResults.style1%>"><%=score1%></span> - <span class="<%=matchResults.style2%>"><%=score2%></span>
	</div>

	<div class="col-lg-2"><small><%=beginningTime%></small></div>

</div>


