<div class="panel panel-default js-match-container" style="display: none;">

	<div class="panel-heading clearfix">
		<div class="btn-group pull-right">
			<% if( matchDescription ) { %>
				<button class="btn btn-default fa fa-info-circle js-menu-match-description" type="button" title="<%=translator.matchDescription%>"></button>
			<% } %>
			<div class="js-match-drop-down-menu btn-group pull-right"></div>
		</div>
		<strong title="#<%=matchId%>"><%=beginningDate%> <sup><%=beginningTime%></sup></strong> - <small><%=timeToStart%></small>
	</div>

	<div class="panel-body js-panel-body" style="height: 140px;">


	</div>

	<div class="clearfix panel-footer js-panel-footer" style="height: 55px;">
		<div class="btn-group pull-right bet-buttons-cell"></div>
	</div>

</div>


