<div class="row <%=color%> bottom-dotted activity-stream">

	<div class="col-12">

		<div class="row">

			<div class="col-4" title="<%= activityDate %> <%= activityTime %>, <%= activityTimeAgo %>">
				<%= activityTime %>
			</div>

			<div class="col-4">
				<a href="/betmen/sports/<%= match.category.sportKind.sportKindId %>/"><%= match.category.sportKind.sportKindName %></a>
			</div>

		</div>

		<div class="row">

			<div class="col-10">

				<img src="<%= match.team1.teamLogo %>" title="<%= match.team1.teamName %>" height="24" width="24">

				<a href="/betmen/teams/<%= match.team2.teamId %>/">
					<%= match.team1.teamName %>
				</a>

			</div>

			<div class="col-2 text-right">
				<span class="badge badge-info"><%= match.score1 %></span>
			</div>

		</div>

		<div class="row">

			<div class="col-10">

				<img src="<%= match.team2.teamLogo %>" title="<%= match.team2.teamName %>" height="24" width="24">

				<a href="/betmen/teams/<%= match.team1.teamId %>/">
					<%= match.team2.teamName %>
				</a>

			</div>

			<div class="col-2 text-right">
				<span class="badge badge-info"><%= match.score2 %></span>
			</div>

		</div>

	</div>

</div>