<div class="panel <%=panelColor%>">

	<div class="panel-heading">

		<% if( isReadyForImport) { %>
			<input type="checkbox" id="gamesToImport" class="js-games-to-import" <%= ! skipImport ? 'checked' : ''%>>
		<% } %>

		<% if( ! isReadyForImport ) { %>
			<span class='<%=import_status.icon%> fa-2x' title="<%=import_status.title%>"></span>
		<% } %>

		<small><%=matchBeginningTime%> ( # <%=remoteGameId%> )</small>

	</div>

	<div class="panel-body">

		<div class="row">

			<div class="col-lg-6 text-center">

				<% if( homeTeamNumber == 1 ) { %>
					<i class="fa fa-home text-danger"></i>
				<% } %>

				<% if( team1 ) { %>
					<img class="team-logo" src="<%=team1.teamLogo%>">
					<h5><a href="/betmen/teams/<%=team1.teamId%>/"><%=team1Name%></a></h5>
				<% } %>

				<% if( ! team1 ) { %>
					<span class="text-danger" title="<%=translator.teamNotFoundInCategory%>">
						<%-team1Name%>
						<br />
						<small><%-team1Id%></small>
					</span>
				<% } %>
			</div>

			<div class="col-lg-6 text-center">

				<% if( team2 ) { %>
					<img class="team-logo" src="<%=team2.teamLogo%>">
					<h5><a href="/betmen/teams/<%=team2.teamId%>/"><%=team2.teamName%></a></h5>
				<% } %>

				<% if( ! team2 ) { %>
					<span class="text-danger" title="<%=translator.teamNotFoundInCategory%>">
						<%-team2Name%>
						<br />
						<small><%-team2Id%></small>
					</span>
				<% } %>

				<% if( homeTeamNumber == 2 ) { %>
					<i class="fa fa-home text-danger"></i>
				<% } %>

			</div>

		</div>

		<div class="row">

			<div class="col-lg-6 text-center <%=matchResults.style1%>">
				<%=score1%> <%= match ? '( ' + match.score1 + ' )' : '' %>
			</div>

			<div class="col-lg-6 text-center <%=matchResults.style2%>">
				<%=score2%> <%= match ? '( ' + match.score2 + ' )' : '' %>
			</div>

		</div>

	</div>

	<div class="panel-footer">

		<% if( match ) { %>
			<a href="/betmen/matches/<%=match.matchId%>/bets/" class="fa fa-soccer-ball-o text-success" title="#<%=match.matchId%>"></a> <%=translator.theMatchIsAlreadyImported%>
			<% if( match.matchFinished ) { %>
				<i class="fa fa-flag-checkered"></i>
			<% } %>
			<br />
		<% } %>

		<% if( ! match ) { %>
			<span class="fa fa-soccer-ball-o text-danger" title="<%=translator.noLocalMatchFound%>"> <%=translator.noLocalMatchFound%></span>
			<br />
		<% } %>

		<% if( import_status ) { %>
			<%=import_status.title%>
			<br />
		<% } %>

		<% if( importImpossible ) { %>
			<small class="fa fa-exclamation-triangle text-danger"> <%=translator.teamNotFoundInCategory%></small>
		<% } %>

	</div>

</div>

