<div class="col-xs-12" style="min-height: 85px;">

	<div class="row">

		<div class="col-xs-6 text-center">

			<div class="row">

				<div class="col-xs-12 match-team-name">
					<span style="font-size: 12px;">
						<a href="/totalizator/teams/<%=match.team1.teamId%>/"><%=match.team1.teamName%></a>
					</span>
					<% if( match.homeTeamNumber == 1 ) { %>
						<i class="fa fa-home text-danger"></i>
					<% } %>
				</div>

			</div>

			<div class="row">

				<div class="col-xs-8">
					<a href="/totalizator/teams/<%=match.team1.teamId%>/">
						<img class="team-logo" src="<%=match.team1.teamLogo%>" title="<%=match.team1.teamName%>" height="64" width="64">
					</a>
				</div>

				<div class="col-xs-2 text-right match-score" style="padding-top: 20px;">
					<%=matchPoints.score1%>
				</div>

			</div>

		</div>

		<div class="col-xs-6 text-center">

			<div class="row">

				<div class="col-xs-12 match-team-name">
					<% if( match.homeTeamNumber == 2 ) { %>
						<i class="fa fa-home text-danger"></i>
					<% } %>
					<span style="font-size: 12px;">
						<a href="/totalizator/teams/<%=match.team2.teamId%>/"><%=match.team2.teamName%></a>
					</span>
				</div>

			</div>

			<div class="row">

				<div class="col-xs-2 match-score" style="padding-top: 20px;">
					<%=matchPoints.score2%>
				</div>

				<div class="col-xs-8">
					<a href="/totalizator/teams/<%=match.team2.teamId%>/">
						<img class="team-logo" src="<%=match.team2.teamLogo%>" title="<%=match.team2.teamName%>" height="64" width="64">
					</a>
				</div>

			</div>

		</div>

	</div>

</div>