<div class="card mb-10">

    <div class="card-header">

        <div class="row">

            <div class="col-12 col-xl-4">
                <button class="btn btn-default js-date-before">
                    <i class="fa fa-hand-o-left"></i>
                    <%=prevDate%>
                </button>
            </div>

            <div class="col-12 col-xl-4 text-center text-warning js-date-current"></div>

            <div class="col-12 col-xl-4">
                <button class="btn btn-default pull-right js-date-after">
                    <%=nextDate%>
                    <i class="fa fa-hand-o-right"></i>
                </button>
            </div>

        </div>
    </div>
</div>



