<div class="panel <%= model.matchFinished ? 'panel-default' : 'panel-success' %>">

	<div class="panel-heading clearfix">

		<div class="btn-group pull-right">
			<button type="button" class="btn btn-default fa fa-edit entry-edit" title="<%=translator.matchEditLabel%>"></button>
			<button type="button" class="btn btn-default fa fa-recycle entry-del" title="<%=translator.matchDeleteLabel%>"></button>
		</div>

		<input type="checkbox" class="js-group-checkbox" value="true">
		<small title="#<%=matchId%>"><%=beginningTime%></small>
	</div>

	<div class="panel-body">

		<div class="row">

			<div class="col-xs-6 text-center <%=matchResults.style1%>">
				<% if( homeTeamNumber == 1 ) { %>
					<i class="fa fa-home"></i>
				<% } %>
				<a href="/totalizator/teams/<%=team1.teamId%>/"><%=team1.teamName%></a>
				<br />
				<img class="team-logo" src="<%=team1.teamLogo%>" height="32">
			</div>

			<div class="col-xs-6 text-center <%=matchResults.style2%>">
				<a href="/totalizator/teams/<%=team2.teamId%>/"><%=team2.teamName%></a>
				<br />
				<img class="team-logo" src="<%=team2.teamLogo%>" height="32">
				<% if( homeTeamNumber == 2 ) { %>
					<i class="fa fa-home"></i>
				<% } %>
			</div>

		</div>

		<div class="row">
			<div class="col-xs-6 text-center <%=matchResults.style1%>">
				<span class="<%=matchResults.style1%>"><h4><%=score1%></h4></span>
			</div>
			<div class="col-xs-6 text-center <%=matchResults.style2%>">
				<span class="<%=matchResults.style2%>"><h4><%=score2%></h4></span>
			</div>
		</div>

	</div>

	<div class="panel-footer">
		<%= model.matchFinished ? "<i class='fa fa-flag-checkered'></i>" : '' %> &nbsp;
		<br />
		<%= translator.betsCountLabel %>: <a href="/totalizator/matches/<%=matchId%>/bets/" title="<%=translator.betsCountLabel%>"><%= model.betsCount %></a>
		<br />
		<%=translator.teamsStandOffHistoryLabel%>: <a class="fa fa-futbol-o" href="/totalizator/teams/standoff/<%=team1.teamId%>/vs/<%=team2.teamId%>/" title="<%=translator.teamsStandOffHistoryLabel%>"></a>
	</div>

</div>


