<div class="panel panel-info">

	<div class="panel-heading">
		<a href="#" onclick="return false;" title="<%=translator.matchSettingsLabel%>">
			<div class="header-icon fa fa-cog matches-settings"></div>
		</a>
		<a href="#" onclick="return false;" title="<%=translator.matchAddLabel%>">
			<div class="header-icon fa fa-plus add-entry-button"></div>
		</a>

		<h3 class="panel-title text-center"><%=translator.matchesTitleLabel%></h3>
	</div>

	<div class="panel-body text-left matches-container">

	</div>

	<div class="panel-footer"></div>

</div>
