<div class="row admin-entry-line">

	<div class="admin-entry-icons">
		<div class="fa fa-edit entry-edit admin-entry-icon-cell" title="Edit"></div>
		<div class="fa fa-recycle entry-del admin-entry-icon-cell" title="Delete"></div>
	</div>

	<div class="col-lg-3"><%=categoryName%> / <%=cupName%></div>

	<div class="col-lg-3 text-right <%=style1%>"><%=team1Name%></div>
	<div class="col-lg-3 <%=style2%>"><%=team2Name%></div>
	<div class="col-lg-2 ">
		<span class="<%=style1%>"><%=score1%></span> - <span class="<%=style2%>"><%=score2%></span>
	</div>
</div>


