<div class="row admin-entry-line bg-info">
	<div class="admin-entry-icon fa fa-save entry-save admin-entry-icon-cell" title="Save"></div>
	<div class="admin-entry-icon fa fa-close entry-edit-cancel admin-entry-icon-cell" title="Cancel editing"></div>

	<div class="col-lg-2 categories-container">
		<select id="categories-select-box" class="form-control categories-select-box">
			<option value="0"></option>
		<% _.each( categories, function( category ) { %>
			<option value="<%=category.categoryId%>" <%= category.categoryId == categoryId ? 'selected' : '' %> ><%=category.categoryName%></option>
		<% }) %>
		</select>
	</div>

	<div class="col-lg-3 cups-container">
		<% if( cups.length > 0 ) { %>
			<select id="cups-select-box" class="form-control cups-select-box">
				<option value="0"></option>
			<% _.each( cups, function( cup ) { %>
				<option value="<%=cup.cupId%>" <%= model.cupId == cup.cupId ? 'selected' : '' %> ><%=cup.cupName%></option>
			<% }) %>
			</select>
		<% } %>
	</div>

</div>


