<div class="panel panel-info">

	<div class="panel-heading clearfix">
		<div class="btn-group pull-right">
			<button type="button" class="btn btn-default fa fa-plus add-entry-button" title="<%=translator.matchAddLabel%>"></button>
			<button type="button" class="btn btn-default fa fa-cog matches-settings"></button>
		</div>
		<h3 class="panel-title text-center"><%=translator.matchesTitleLabel%></h3>
	</div>

	<div class="panel-body text-left matches-container">

	</div>

	<div class="panel-footer"></div>

</div>
