<div class="row">

	<div class="col-lg-4">

		<div class="panel panel-default">

			<div class="panel-heading">
				<h3 class="panel-title">
					<%=translator.userStatisticsLabel%>
				</h3>
			</div>

			<div class="panel-body js-user-statistics">

			</div>

			<div class="panel-footer">

			</div>

		</div>

	</div>

	<div class="col-lg-8">

		<div class="panel panel-default">

			<div class="panel-heading">
				<h3 class="panel-title">
					<%=translator.userBetsLabel%>
				</h3>
			</div>

			<div class="panel-body js-user-bets">

			</div>

			<div class="panel-footer">

			</div>

		</div>

	</div>

</div>