<div class="panel panel-info">

	<div class="panel-heading clearfix">

		<div class="btn-group pull-right">
			<div class="js-window-drop-down-menu"></div>
		</div>

		<span class="js-window-icon fa fa-spinner fa-spin"></span>

		<span class="js-widget-title"><%=translator.loadingLabel%></span>

	</div>

	<div class="panel-body js-widget-body" style="display: none; min-height: <%=minHeight%>;">

		<div class="row text-center js-loading">
			<div class="col-lg-12">
				<span class="js-window-icon fa fa-spinner fa-spin fa-3x"></span>
				<h4><%=translator.loadingLabel%></h4>
			</div>
		</div>

	</div>

	<div class="panel-footer clearfix js-footer">

	</div>

</div>
