<div class="panel panel-info">

	<div class="panel-heading clearfix" title="<%=titleHint%>">

		<div class="btn-group pull-right">
			<div class="js-window-drop-down-menu"></div>
		</div>

		<span class="js-window-icon fa fa-spinner fa-spin"></span>

		<%=title%>

	</div>

	<div class="panel-body js-window-container">
		<div class="row text-center js-loading">
			<div class="col-lg-12">
				<span class="js-window-icon fa fa-spinner fa-spin"></span>
				<%=translator.loadingLabel%>
			</div>
		</div>
	</div>

	<div class="panel-footer js-footer">

	</div>

</div>
